[2020-07-23 16:39] flrs-edf opened #2 "App fails to render"
The app fails to render when reaching the "measurement point" details. I suspect the error comes from the schema only allowing null values for `mounting_arrangement` (see [here](https://github.com/IEA-Task-43/digital_wra_data_standard/blob/dc233ddc37e8930a873ba9a26e592bc3447aef47/schema/iea43_wra_data_model.schema.json#L330)).

This is what I am getting in the console when trying to add a measurem

[2020-07-28 22:53] stephenholleran commented on #2
I have removed `anyOf` which included that `type: null`. Not sure if that fixes it.

I have added a lot since also. And still got 'mast_properties' to add yet.

[2020-07-30 17:13] abohara opened #3 "Sensor & Sensor_Config documentation review suggestions"
- [x] Known Bug on "Sensor Properties" table. All types set to 'null'

- [x] [Sensor -> instrument_height_mm]: Suggest description include units and indicate what it is not to avoid some confusion regarding dual meaning of height e.g "This is the physical height dimension of the sensor in millimeters (and not the height above ground at which it is deployed) to..."

- [ ] [Sensor -> instrument_heig

[2020-07-30 17:17] flrs-edf commented on #2
This may have been fixed by f80b6ea7c4d4646b9fe4f1d7e9242e5e72f92759 and bd31397730736738002eb95606e3ddb0b2777466. The app seems to work now.

[2020-07-30 19:06] Dynorat opened #4 "Add contributing.md file"
Provide guidance on how to contribute to the repository for new and existing users.  This should take the form of a markdown file

[2020-07-30 20:42] #2 closed

[2020-07-30 20:46] stephenholleran commented on #3
I just changed the bullets to tick boxes so we can tick them off as we go. I haven't read them yet :)

[2020-07-31 12:22] kersting opened #5 "Mounting arrangements properties issues"
-  [mounting_type_id] I wonder if we should include the case for the booms that are side mounted but incorrectly mounted above the mast. This does not represent good practices and it has a direct effect on the data.

- [boom_orientation_deg] Some folks use theodolites to get their boom orientation and therefore, I think we should not restrict ourselves to integers.

- [ new field] What about the u

[2020-07-31 16:59] abohara commented on #3
Great! That is a neat trick !

[2020-08-06 14:53] stephenholleran commented on #3
The JSON Schema has either int or number (float) as data types.
http://json-schema.org/understanding-json-schema/reference/numeric.html#numeric
It might be overkill to restrict this attribute to an integer.

The date_from and date_to are 'definitions' in the JSON Schema. That is, they are just written down in one place and then linked to from the places where it is used. Therefore we need to keep

[2020-08-06 17:58] stephenholleran commented on #5
Hi G,

Do you mean like this?
[code]
I suppose that isn't a goal post layout but how would it be treated differently than a goal post layout?

Done. And a load of others.

I think this is a good idea but not sure if we should restrict just yet. As discussed on the call today not all orientation measurements might be referencing magnetic north as some could be done by getting the bearing of two gps

[2020-08-06 19:20] kersting commented on #5
Hey Stephen,

For the mounting. The configuration that you showed could be one but there is also this one that is even worse. The anemometers are barely on the top of the tower or just below of it. I think this needs to be communicated somehow. Perhaps if one has the anemometer height, tower height, and upstand height, then you can do a check to see if you’re on that situation. The analyst needs a

[2020-08-06 20:37] stephenholleran commented on #5
I think that is a great idea. It could be one of the wow factors that could be shown to analysts highlighting the benefits of adopting this. It could be a quick win. If you are happy to take it on then great. A location to place the code might be in this repo's 'tools' folder. If you need some permission for this repo to create a branch to work in just let me know.

[2020-08-06 20:55] kersting commented on #5
Hey Stephen,

Just give me one week to confirm that I can take the task. My supervisor is on vacation and I don’t want to give any surprises to him but I think I can take that.

Best regards,

Gibson Kersting
RWE Renewables Americas, LLC
M +1-512-574-6025

From: stephenholleran <notifications@github.com>
Sent: Thursday, August 6, 2020 3:37 PM
To: IEA-Task-43/digital_wra_data_standard <digital_wra_

[2020-08-06 21:51] Dynorat opened #6 "Add a license file"
Recommend a group discussion on which license to use.

Recommend BSD 3 Clause or MIT

https://choosealicense.com/no-permission/

[2020-08-12 18:34] stephenholleran commented on #3
Hi @abohara,

Are you happy with my answers and what I have updated?

[2020-08-12 18:40] stephenholleran opened #7 "Review logger configs"
Hi @sdsmdp,

Could you review the logger configuration, please? The easiest way is to just review the documentation and write any issues you have in this issue.
https://github.com/IEA-Task-43/digital_wra_data_standard/blob/master/docs/iea43_wra_data_model-properties-measurement-location-measurement-location-properties-logger-configuration-logger-configuration.md

Thanks,

Stephen

[2020-08-12 18:55] stephenholleran commented on #6
Hi @Dynorat,

Yes, a license is needed for sure.

When you say BSD 3 Clause I am assuming you mean this one https://choosealicense.com/licenses/bsd-3-clause/
and not this one
https://choosealicense.com/licenses/bsd-3-clause-clear/

[2020-08-12 19:16] stephenholleran commented on #6
Extract from https://opensource.stackexchange.com/questions/217/what-are-the-essential-differences-between-the-bsd-and-mit-licences

Between these two I would go with the MIT one. However the choice is between the BSD 3-clause and MIT.

The difference between the BSD 3-clause and the BSD 2-clause is this extra clause which requires written consent from the copyright holder to promote derived produ

[2020-08-12 21:54] sdsmdp commented on #7
Hi, @stephenholleran. This was another good way to remind me of my task. Thanks.

## Feedback

* `logger_model` - the examples given suggest we are looking model name, not a model number; a) can you confirm, and b) suggested changing this to `logger_model_name' to make it even more clear
* `logger_serial_number` - some manufacturers (e.g., NRG) include the logger model number in the serial number

[2020-08-12 22:07] abohara commented on #3
Thanks @stephenholleran .

Looks good. Some minor corrections and comments below:

- [ ] Looks like you have a typo in the _'Date To_' description. In the second sentence, _"The format of this should follow"_ should be removed :  _The final end date for when these properties are active. The format of this should follow If these properties are currently active please use null. If null is not allowe

[2020-08-13 13:32] stephenholleran commented on #3
It should be sync'd but the generated markdown process seem to only update some files. I think once we have all updates in I'll just delete the whole docs folder to force it to generate from scratch.

Thanks for the comments. I made those other changes. I'll push them once I've finished making other updates.

[2020-08-13 13:32] #3 closed

[2020-08-13 14:28] stephenholleran commented on #7
Changed to 'logger_model_name'.

Yeah, we'll just take the compound. Not too worried about the model number included.

We have had so many problems with timestamps having timezones in them. They just cause serious confusion and inconsistencies. The timestamps outputted in a data file don't have timezones but in the logger settings we have the timezone or UTC offset recorded. If a logger is set to

[2020-08-13 14:29] stephenholleran opened #8 "`encryption_pin_or_key` in whatever UI or conversion should be disabled or further encrypted"
Relating to comment in iss #7

Quote:

[2020-08-17 17:07] flrs-edf opened #10 "Add schema to schemastore.org"
[Schemastore](https://www.schemastore.org/json/ ) is a collection of popular json schemas. IDEs like PyCharm, but also json validation tools as [jsonschemavalidator](https://www.jsonschemavalidator.net/) allow loading schemas from these sources.

Having this schema on schemastore would enable others to use it more easily. This may result in a reduction in json formatting errors from users of this

[2020-08-17 17:08] flrs-edf commented on #10
Schemastore's [contributing guidelines](https://github.com/SchemaStore/schemastore/blob/master/CONTRIBUTING.md#catalog) describe how to add a schema to schemastore.

[2020-08-19 09:31] stephenholleran opened #11 "Investigate the use of 'validate-json' as an automated validator"
Current practice is to use [jsonschemavalidator](https://www.jsonschemavalidator.net) to validate a new schema against the valid [demo file](https://github.com/IEA-Task-43/digital_wra_data_standard/blob/master/demo_data/iea43_wra_data_model.json).

This [validate-json](https://github.com/marketplace/actions/validate-json) project may automate this process. The validator itself would first need to

[2020-08-20 13:54] stephenholleran commented on #7
Hi @sdsmdp,

Are you happy to close this off or do you want to review some more?

[2020-08-20 13:54] stephenholleran commented on #5
HI @kersting,

Are you happy for this issue to be closed off?

[2020-08-20 14:01] kersting commented on #5
Yes, thanks

Best regards,

Gibson Kersting
RWE Renewables Americas, LLC
M +1-512-574-6025

From: stephenholleran <notifications@github.com>
Sent: Thursday, August 20, 2020 8:56 AM
To: IEA-Task-43/digital_wra_data_standard <digital_wra_data_standard@noreply.github.com>
Cc: Kersting, Gibson <gibson.kersting@rwe.com>; Mention <mention@noreply.github.com>
Subject: Re: [IEA-Task-43/digital_wra_data_st

[2020-08-20 14:10] #5 closed

[2020-08-20 14:15] stephenholleran commented on #6
After a discussion on 2020-08-13 it was decided to go with the BSD 3-clause subject to some legal clarifications and confirmation from some members.

[2020-08-20 14:49] stephenholleran opened #12 "create 'dev' branch once version 0.1 is released"

[2020-08-20 15:47] stephenholleran commented on #7
@sdsmdp I brought up the timezone question on the group call today. For this version it was thought best not to put any restrictions on it yet. A compromise was to change the text to something like this:

How does this sound to you?

[2020-08-20 15:58] stephenholleran opened #13 "create sql statements"
Produce create table SQL statements to represent the entity relational diagram currently in Google [Sheets](https://docs.google.com/spreadsheets/d/19e-rx2qEwCI_9WJctMq-1gXF0DpVMwAKt38_CCLLcfM/edit?usp=sharing). This can serve two purposes;

1. have create table SQL statements so organisations can create there own database that represents the Schema
1. use these SQL statements to automatically crea

[2020-08-27 00:03] #4 closed

[2020-09-03 16:16] kersting commented on #7
@stephenholleran

logger_oem_id: Should we have other in the options? We could restrict to that selection and if there is another logger manufacture we could just update the schema. For me this keeps it tighter and serves as a validation as well.
logger_name: Could you please remind me what is logger name?
sampling_rate: In my point of view this should be an integer because it is already in second

[2020-09-09 22:09] stephenholleran commented on #7
Hi @kersting,

I think the thinking was that as this is a first version we don't want to restrict it too much as it will disenfranchise people if they can't find their logger. I do agree that it would be better to restrict it but for this first version I think we discussed leaving 'other' in there as an option.

I have added '(or mast name)' to the description.
```The logger (or mast name) name as

[2020-09-10 01:06] stephenholleran commented on #13
@flrs-edf would you be able to review these PostgreSQL statements, please?

I am pretty sure all the create table and enum data statements are there and complete.  It would be good if you were able to review them? The create table sql file is 'iea43_wra_data_model_postgresql.sql' and is under 'tools'.

There is some demo data which matches the demo json file. I don't have all of this completed (he

[2020-09-10 10:43] stephenholleran opened #14 "tool to read json file and create sql insert statements"
Create a python tool that can read in the data model standard json file which can then create SQL insert statements to insert the data into the database described by `iea43_wra_data_model_postgresql.sql` located in `tools`.

[2020-09-10 10:46] stephenholleran commented on #13
@flrs-edf actually I will create a pull request and I'll create a new issue (#14 ) to create a python tool to read a json file and create the SQL insert statements automatically. I'll leave the current insert statements here for now but will delete them in the future once the tool is built.

[2020-09-10 18:13] #7 closed

[2020-09-27 15:09] kersting opened #17 "Sensor properties"
I started working in a code to check if a mast is IEC complaint and I realized that we have one property missing. We need to report the diameter of the cups under sensor properties because the IEC standard measures everything from the center of the cups so the the effective sensor height is:

effective_sensor_height = sensor_height - cup_diameter/2

[2020-09-27 16:00] kersting opened #18 "Mast section geometry (horizontal and diagonal braces)"
@stephenholleran: I was working in an tool to check IEC requirements and I found another problem with the data model. Braces can be horizontal or diagonal. It is important to report the number for both of them. If we don't report the direction of the braces (diagonal or horizontal), there is no way to calculate the solidity correctly.

[2020-09-28 09:16] stephenholleran commented on #18
Hi @kersting,

That's great you are working on the tool.

For the horizontal bracing member, would it not be included all the time as there is usually a horizontal bracing member at the section joins? To capture worst case.

Maybe past a diagram or photo of what you are talking about?

[2020-09-28 09:19] stephenholleran commented on #18
I just noticed you say

If there are only horizontal braces (I don't think I've ever seen that) then woud having zero diagonal and always assume there is a horizontal work? (I think a tutorial to explain how to use this part of the data model will be required!)

[2020-09-28 10:42] kersting commented on #18
All the towers that I have seen reported only 2 lengths and diameter of braces per section and therefore this distinction that I proposed between horizontal and vertical braces don't make much sense. Perhaps it would be better to have the option to report 2 brace dimensions per section or even 3. One concern that I have is related to IEC's definition of solidity. It is the is defined as the ratio

[2020-10-01 15:44] joejoeyjoseph commented on #17
decision: choose `instrument_poi_height_mm` -- "point of interest"
add to documentation:
vane: start from top of the vane
cup: start from center of the cup
sonic: record the height where the wind/air is measured

[2020-10-01 15:55] joejoeyjoseph commented on #18
Decision: created a new `lattice_has_horizontal_member` with True/False option

[2020-10-01 16:26] stephenholleran opened #19 "Should 'height_m' be 'height_agl_m'?"
`height_agl_m` that is '**height above ground level in meters**' is more descriptive than simply `height_m`.

However, for offshore met masts there isn't a 'a.g.l.' and it could be above mean sea level (a.m.s.l.) or above lowest astronomical tide (a.l.a.t.). How do we account for all of these options?

@abohara

[2020-10-08 16:01] stephenholleran opened #20 "Function to validate the JSON file against the Schema"
A function that accepts a populated data model json file that can then validate it against the appropriate schema.

There are some python libraries that can do the validation bit already. This function would be a wrapper around that and picks out the  appropriate schema version to use and gives some useful feedback if it fails.

[2020-10-08 16:35] stephenholleran commented on #6
The following have agreed to the BSD 3-clause license:

- RWE @kersting
- EDF @flrs-edf
- Brightwind @stephenholleran
- NRG @sdsmdp
- Altosphere @abohara
- NREL @Dynorat @joejoeyjoseph

I will write a Slack msg asking if anyone else in the group strongly disagrees with this license.

[2020-10-11 15:40] kersting commented on #19
@stephenholleran One option is to keep height_m and have another field called reference_height in which it can take a.g.l, a.m.s.l, and a.l.a.t

[2020-10-12 13:48] AndyClifton opened #24 "Tool to simplify integration with existing processes"
Love the idea! You might be interested in the [twined tool](https://github.com/octue/twined) that seeks to simplify the process of exchanging data across systems and over organisational boundaries.

It could be a nice way to integrate the WRA data standard with existing processes, rather than requiring folks to completely rewire their processes. See also https://twined.readthedocs.io/ for ideas.

[2020-10-12 13:52] stephenholleran commented on #18
@kersting thanks for making that change. Looks good.

Could you also update the json [demo data](https://github.com/IEA-Task-43/digital_wra_data_standard/blob/master/demo_data/iea43_wra_data_model.json) too to match it?

Thanks!

[2020-10-12 17:26] stephenholleran commented on #24
Thanks for the suggestion.

@Dynorat @joejoeyjoseph @flrs-edf

[2020-10-13 00:10] abohara commented on #19
@kersting @stephenholleran

Not a bad idea... to keep the height parameter as is and then specify what the height is relative. This convention would allow the 'height_referenced_to' be added anytime in the future, so I like that flexibility.

On land, height is something you can measure directly (laser rangefinder etc.), on offshore masts... is the height more of a 'derived' value (sorry I am not

[2020-10-13 01:03] kersting commented on #18
@stephenholleran  Demo data now with example as well.

[2020-10-13 12:33] kersting commented on #17
@stephenholleran For me it is all good and we can close it.

[2020-10-13 12:33] #17 closed

[2020-10-13 14:59] stephenholleran commented on #19
It is sort of depending on if there was a buoy or tide gauge at the mast. The reference is usually either mean sea level or lowest astronomical tide. These would be measured along the coast at harbors but it is a bit of a guess to transfer this to the mast location. Sea level height can be measured at the mast and then extrapolated to get lowest astronomical tide.

[2020-10-13 15:08] #18 closed

[2020-10-15 15:21] stephenholleran commented on #12
Todays call we decided to definitely have a dev branch.

[2020-10-19 10:56] #6 closed

[2020-10-29 13:12] #13 closed

[2020-10-29 17:17] stephenholleran commented on #12
Hi @sdsmdp , thanks for offering to implement this.

[2020-10-31 13:29] kersting opened #28 "Retrieving main measurement points out of load_demo_schema.ipynb"
@stephenholleran I tried to run load_demo_schema.ipynb. Everything went well until I reached the main measurement point markdown. I am running with the example schema.
![Capture](https://user-images.githubusercontent.com/19154103/97780482-fc5aa800-1b52-11eb-8159-e29403b11810.PNG)

[2020-11-04 21:57] stephenholleran commented on #28
Hi @kersting ,

I just ran it there and it worked fine.
![image](https://user-images.githubusercontent.com/25622575/98171791-37a8fe00-1ee8-11eb-90c0-55e158b0a0ad.png)

I wonder if it is finding the demo json file at all? Just type `meta_data` in a cell and see if it contains anything?
![image](https://user-images.githubusercontent.com/25622575/98171923-67580600-1ee8-11eb-83a6-210164900d88.png)

It

[2020-11-04 22:28] kersting commented on #28
@stephenholleran That is not the problem. See the screenshot. The file is loading fine. Also, I haven't modified anything. I am working with what I cloned from GitHub.
![Capture](https://user-images.githubusercontent.com/19154103/98174593-bb4bf600-1eba-11eb-807f-81d378783f76.PNG)

[2020-11-05 14:28] stephenholleran commented on #28
Hi Gibson, I don't know. I don't know how you are running it? It doesn't look like it is in a Notebook? So I can't replicate it.

It runs in the binder Notebook through the GitHub repo.

If sensors_table_report is a pandas dataframe then it should work. The problem is not with that line but somewhere earlier. That is why I thought the file wasn't read in correctly. I don't know how I can help if I

[2020-11-05 17:09] stephenholleran opened #29 "Tag or release version 0.1"
Tag or release or launch version 0.1.0-202011. The below might be the thing to do?
https://git-scm.com/book/en/v2/Git-Basics-Tagging

@Dynorat @sdsmdp maybe you have a different way of tagging or releasing a version?

Do this once issue #19 has been merged.

[2020-11-05 17:22] stephenholleran opened #30 "Officially Launch v0.1"
Do a press launch of some sort to officially launch our version 0.1 into the public.

Social media posts such as on LinkedIn would be the target but also trade publications such as [ReNews](https://renews.biz/) and [ReCharge](https://www.rechargenews.com/). Also, the NREL webpage, the IEA webpage, etc.

One idea for content is to convert the [AWEA recorded video](https://register.gotowebinar.com/r

[2020-11-05 17:30] stephenholleran commented on #29
Hi @jordanperr,

I was looking at the OpenOA GitHub repo and see that you have tags/releases for that software. I know OpenOA is a piece of code that gets installed via pip but maybe you have some advice that might be applicable for us to version, tag or release our data model?

We have already decided on the labeling of the versions outlined in the [contributing ](https://github.com/IEA-Task-43/d

[2020-11-05 18:03] stephenholleran opened #31 "Data Model to Windog converter"
Tagging @abohara as I can't pick you from the Assignees list.

How do we get the information contained in the IEA Data Model into Windographer to help an analyst set up Windographer?

I think there are two options:
1. Ideally Windographer themselves create an option to read a IEA Data Model file. @joejoeyjoseph you are going to reach out to UL again to see if this would be a possibility.

1. We wr

[2020-11-05 18:13] #19 closed

[2020-11-05 18:18] stephenholleran opened #32 "IEC mounting arrangement validation"

[2020-11-05 20:47] stephenholleran commented on #29
Note:
We might need to put somethinng within the schema file itself to state the version.

Below is what is in there now. The keys beginning with a '$' are to highlight information about the schema and is not part of the schema itself.
[code]

We may need to add something like `$version` into this.

[2020-11-05 21:44] abohara commented on #31
Option 1 would certainly be ideal. However, I suspect it would take a while to happen (if it does at all).

Option 2 certainly would be the preferred route for the short term. However, it does seem to be in a proprietary binary format.

Option 1/2 could benefit from direct conversation with UL folks. For Option 2, perhaps we can use it as a means of engaging various users who are looking to automa

[2020-11-06 00:35] Dynorat commented on #31
I can reach out to Tom Lambert if you like for a more detailed conversation.

  On Thu, Nov 5, 2020 at 2:44 PM, abohara<notifications@github.com> wrote:

Option 1 would certainly be ideal. However, I suspect it would take a while to happen (if it does at all).

Option 2 certainly would be the preferred route for the short term. However, it does seem to be in a proprietary binary format.

Option 1/

[2020-11-06 14:50] stephenholleran commented on #31
@abohara That is true. I had forgotten that. I remember looking at that documentation back in 2011 and it could pull back meta data about the column names. So for those that have that setup this Data Model loading into Windographer has no benefit. I would suspect though that there are loads that don't. Even DNV don't use a centralised database to do assessments when they get given data and I know

[2020-11-06 15:12] sdsmdp commented on #29
I agree, @stephenholleran, that there needs to be some method to identify the schema version.

This carries over from the JSON to any database implementation of the schema, as well. I would recommend a separate entity (table) within the database that holds schema metadata. At the moment, that may consist of just the version number. We can use this facility in conjunction with SQL DML scripts to ap

[2020-11-06 16:33] stephenholleran commented on #29
I'll implement it within the schema itself.

Regarding the database side of it. If I understand you correctly that could get complicated. I suppose the main thing is the Data Model itself. The database schema is a 'nice to have' seen as we pretty much designed it based on a database schema but it isn't essential. What I'll do is create another issue with your comment so it doesn't get lost. It is

[2020-11-06 17:09] stephenholleran opened #33 "Database Data Model version tracking"
Falling out from the discussion in issue #29 about tagging the version of the schema, specifically @sdsmdp's [comment](https://github.com/IEA-Task-43/digital_wra_data_standard/issues/29#issuecomment-723131990), we should track the Data Model version in a new database table to help with updating existing databases to newer versions.

Resulting from this would be making sure that updates to the Data

[2020-11-09 10:18] stephenholleran opened #34 "Account for lightening finial (lightening rod)"
A lightening finial or lightening rod can impact the measurements from a top mounted anemometer. The first thing to know is if a lightening finial is present. The next thing is to know where it is mounted on the mast. Then the orientation of the finial relative to the top mounted anemometer could be worked out.

[2020-11-09 10:22] stephenholleran opened #35 "Automatic selective averaging tool"
Create a tool to automatically apply selective averaging to the wind speed data to filter out the effects of mast shadowing.

With wind speed heights and boom orientations present in the data model it is possible to automatically select which anemometers should be paired together and what direction sectors should be accounted for in the selective averaging process.

[2020-11-09 16:46] stephenholleran commented on #28
The problem is that pandas version 1.1.4 does not have the method .contains for df.columns.

Possible solution could be:
[code]

[2020-11-09 17:22] kersting commented on #28
@stephenholleran thanks for looking into that. The proposed solution does not work. I'm getting another error. list index out of range

[2020-11-10 20:59] abohara commented on #31
@stephenholleran @Dynorat I think it would be good to at least have Tom's input (if he is open to it) on the best way to technically solve this data import problem.  I agree it would be beneficial to have a way of exporting in a format that makes it easy to load into Windographer without the SQL license. I am querying other users to see if they have options .

[2020-11-12 14:55] stephenholleran opened #36 "Adapt schema for remote sensing devices"
From @kersting extracted from Slack

Remote sensing technology (sodar, lidar, flidar)
Remote sensing vendor
Remote sensing model
Remote sensor serial number
Ownership (Rental or owned units)
Special technology (Such as Flow Complexity Recognition)
Power pack (Solar panel, fuel cell)

Also

Project status (whether a project is under development or operation).
Peer review status (This is flag that c

[2020-11-12 14:56] stephenholleran commented on #36
@sdsmdp comment:

Regarding the project and review status properties: the schema includes a few fields flagged as being relevant to a database, but probably not passed around in JSON files. I see these status fields you have suggested as being like those. That is, I can see the value of those attributes in your database. However, I don't think the values would be passed around in the JSON with tim

[2020-11-12 17:31] stephenholleran commented on #36
Notes from todays (12th Nov) call attended by : @stephenholleran, @kersting @joejoeyjoseph @sdsmdp @abohara

1. `Remote sensing technology (sodar, lidar, flidar)` is the same as `measurement_station_type`.
    - [ ] Action: Add **flidar** to list.

1. `Remote sensor serial number`, `model` and `oem` can be mapped in `logger_main_config`.
    - [ ] Action: Edit description to account for these.

1.

[2020-11-12 20:40] kersting commented on #34
@stephenholleran I propose is_lighting_rod for the Boolean attribute and lighting_rod_orientation_degree for the float. The modification would be on mounting_arrangement table. Please let me know what you think.

[2020-11-14 00:56] kersting commented on #32
@stephenholleran

Should we create additional properties within the class that are defined in IEC? For example, should we expose to the user the area of projected members even though the final value that we're trying to calculate is a Boolean variable that tells whether the boom is too short or not? From my point of view exposing those properties to the user adds clarity, but we may end up with ma

[2020-11-17 15:12] stephenholleran commented on #32
Hi @kersting,

If you are talking about the solidity and Ct (maybe even the projected areas) then yeah, I think that would be a good idea. If the result is a False, i.e. the anemometer mounting does not satisfy IEC guidelines then the user may want to investigate where things might be going wrong for them.

[2020-11-17 17:35] kersting opened #37 "Mast geometry ID missing"
@stephenholleran There is one mast geometry ID missing. By the IEC the types are tube, triangular with round edges (the only triangular available so we can leave just triangular), square with sharp edges, and square with round edges. We need to substitute the square with the last two.

[2020-11-17 19:13] stephenholleran commented on #36
I have added:
**"Leosphere",
"ZX Lidars",
"AXYS Technologies",
"AQSystem",**

to the below list of manufacturers.

[code]

Can anyone think of more?

[2020-11-17 20:28] stephenholleran commented on #36
Yep, you are right but I put it in there anyway. People still refer to it as Leosphere and SecondWind is in the same boat. It also might be an old lidar when it was just Leopsphere so gives people options.

[2020-11-17 22:29] stephenholleran opened #38 "Extra measurement types and units"
With the addition of remote sensing devices, add in some extra measurement types and units.

**measurement_types**:

- [x] availability -  ZX lidars have a data availability threshold.

**measurement_units**:

- [x] dB - for CNR values

**statistic_type:**

- [x] availability  - similar to 'count' but in percentages

[2020-11-17 22:45] stephenholleran commented on #36
@kersting @joejoeyjoseph @sdsmdp @abohara

Continuing this discussion.
I don't think this attribute should be included in the new `lidar_config` table as that is more to do with how the logger of the device is configured. This `lidar_window_height_m` is more like a mast property or how the device is installed on site. Therefore I am unfortunately thinking of creating a new table called `lidar_prop

[2020-11-17 22:56] stephenholleran commented on #37
Hi @kersting,

Just to make sure, are referring to the below which describes the type of mast structure geometry?

[code]

What are you suggesting to add? `lattice_square_round_edges` and `lattice_square_sharp_edges`?

[2020-11-18 02:43] kersting commented on #37
@stephenholleran, Yes that is my recommendation so we can be in line with the IEC terminology. We would replace lattice_square with lattice_square_round_edges and lattice_square_sharp_edges. Also, that will allow for us to calculate the Ct for each tower geometry.

[2020-11-18 02:46] kersting commented on #36
@stephenholleran @joejoeyjoseph @sdsmdp @abohara it makes sense for me. Also, I'd like to add a couple of things. I'm glad you're thinking about device orientation because that is very important. In addition, instead of using the label lidar_properties for this table, we may want to use vertical_lidar_properties because in a nacelle mounted lidar the properties are different.

[2020-11-18 12:40] stephenholleran commented on #36
Good point. This is getting more complicated than we can include for version 0.1. OK, in the same vane as the mast properties we will have a table called `vertical_profiling_lidar_properties` which will describe how the device is physically installed on site. Attributes it would contain are:
 -  window_height_m,
 -  device_orientation_deg
 -  orientation_reference_id
 -  along with date_from and d

[2020-11-18 20:43] stephenholleran commented on #34
@kersting @joejoeyjoseph  @sdsmdp @abohara

I have been thinking a lot about where this can fit into the overall Data Model and it is a struggle. I don't think it should fit under `mast_properties` because a lightening finial is not really part of that. It is something that can be added or not and can be moved half way through a measurement campaign. The `mast_properties` is something that doesn't

[2020-11-18 21:14] abohara commented on #36
@stephenholleran @kersting

1 & 2. For now, a single table for possible fields related to lidar (all types) or sodar seems reasonable for now. This would be analogous to how we have one mast table for whether the mast is tiltup tubular or lattice. Since, every field does not have to be filled , the table can accumulate all the fields, and we can break them down into appropriate tables once we have

[2020-11-19 09:41] AndyClifton commented on #36
Hi folks, as commented already in slack - we're trying to generate an ontology / metadata schema within IEA Wind Task 32 on wind lidar: https://github.com/IEA-Wind-Task-32/wind-lidar-glossary. Rather than Task 43 generating their own schema for resource assessment, which is one of many use cases, would you be willing to contribute instead to the Task 32 approach? We have other efforts we can lever

[2020-11-19 12:48] kersting commented on #34
@stephenholleran I think your solution is really good and creating a new table makes sense to me.

[2020-11-19 18:09] stephenholleran commented on #36
From today's call:
@kersting is to reach out to Vaisala about from what part of the sodar device is the wind speed height measured from? That is, what is the equivalent to the window on a lidar.

[2020-11-19 18:11] stephenholleran commented on #34
From today's call we (@kersting @abohara) agreed that this is a good approach.

[2020-11-25 01:51] kersting commented on #36
@stephenholleran at least for a Vaisala sodar the base is where the measurements are located so when their sodar measures at 80m, it is actually 80m since the instrumentation is on the bottom of the device. If one installs the sodar in a 1m platform then the measurements would be 81m.

[2020-12-02 12:35] #37 closed

[2020-12-03 10:29] stephenholleran commented on #30
Script to be overlaid on an animation for the launch.
https://docs.google.com/document/d/1tI05FdlY_0rP8d97b1E_A2G9U6U2SuaqLVqzTKU80ZM/edit

[2020-12-04 12:45] stephenholleran commented on #36
Hi @AndyClifton, @kersting, @abohara and anyone else,

Thanks again Andy for joining our call yesterday.

Based on the discussions we are going to pick out the remote sensing specific terms and link them to the https://data.windenergy.dtu.dk/ontologies/view/IEATask32Glossary/en/ ontology where these terms are already defined. This will help with future collaboration when we all have the same under

[2020-12-04 12:47] niva83 commented on #36
@stephenholleran, be aware that due to a temporal issue with SSL certificates, the ontology is accessible on HTTP:
http://data.windenergy.dtu.dk/ontologies/view/IEATask32Glossary/en/

I will ping you all when it becomes accessible on HTTPS

[2020-12-04 14:07] stephenholleran commented on #36
**Second is lidar specific configuration (programming) of the device.**

We have a table called `logger_main_config` where "_This represents how the logger's main settings are configured. For example, it's sampling rate or averaging period. For remote sensing devices, such as lidar's, the device itself is considered as a logger and so these logger configuration attributes should be used to describ

[2020-12-04 19:02] #34 closed

[2020-12-08 17:59] AndyClifton commented on #36
Folks - some definitions that might help:
1. Measurement height: http://data.windenergy.dtu.dk/controlled-terminology/IEAWindTask32/parameters.measurement_height.
2. Datum plane, feature, and elevation: http://data.windenergy.dtu.dk/ontologies/view/IEATask32Glossary/en/page/parameters.

[2020-12-08 18:05] AndyClifton commented on #36
Re `flow corrections`. We avoid using this term as much as possible as it implies that the lidar/sodar is "wrong" in complex flow. This is incorrect as both masts and lidars/sodars have challenges!

It would be helpful to use terminology like `transfer methods` (§2.3 of https://zenodo.org/record/3862384), although we've also seen recently that e.g. CFARS likes `correction techniques` too (see e.g.

[2020-12-09 11:55] stephenholleran commented on #36
Hi @AndyClifton this is great, thanks. Not sure how I didn't find these when I was looking previously.

I think it makes sense that we use `datum_plane_height_m` to cover both `window_height_m` and `device_base_height_m` that we currently have? I see that you have `datum elevation` but we don't use elevation taken from a device or installation report for either lidars or met masts. When we are doi

[2020-12-09 12:31] niva83 commented on #36
@stephenholleran ideally you would aim at decoupling your complex concepts such `datum_plane_height_m` (you are mixing label of concept with the unit for the concept, etc.) to atomic but semantically self-described components, and interconnecting them as we are doing in [Controlled Vocabulary of Wind Energy Parameters(http://data.windenergy.dtu.dk/controlled-terminology/wind-energy-parameters/) an

[2020-12-09 18:27] stephenholleran commented on #36
Hi @niva83, thanks for your feedback. You are absolutely right in decoupling the concept and the unit. It is the proper thing to do. However, we decided to force users to convert their data to a standard unit. Allowing a user to specify their own units would mean we would need an extra field coupled with every concept. There are already quite a lot of fields for a user to fill in that adding more

[2020-12-15 12:12] stephenholleran commented on #38
Adding:

- [ ] Dopp Spect Broad

- [ ] CNR

[2021-01-06 18:06] stephenholleran commented on #38
Adding

**statistic_type:**

- [ ] ti - for turbulence intensity. THis will allow lidar ti to be linked to the wind speed.

Some of these are part of issue #36 for remote sensing and so are included in pull request #40

[2021-01-06 19:03] #36 closed

[2021-01-06 22:10] stephenholleran commented on #38
- [ ] Investigate if any further measurement types, units or statistic types are required for a Geovane https://www.geovane360.com/

[2021-01-07 14:25] stephenholleran commented on #38
More to add.

**measurement_types:**

- [ ] elevation / altitude
- [ ] azimuth
- [ ] timestamp

[2021-01-14 15:40] stephenholleran opened #43 "Update SQL with UUID generator"
Add this to the top of the file to load the plugin that generates uuids:

```CREATE EXTENSION IF NOT EXISTS "uuid-ossp";```

Then for each of the tables with UUIDs as primary keys, add `DEFAULT uuid_generate_v4 ()`

```uuid UUID PRIMARY KEY DEFAULT uuid_generate_v4 (),```

This allows a uuid to be auto generated when adding a row to the table

[2021-01-14 18:04] abohara commented on #38
@stephenholleran @kersting
A lot of changes here Stephen. Thanks for the work. My summary
- 'availability' :  It could mean machine availability (for e.g. sensor offline). Or no data (due to fog or no wind). It could also be defined. Do all remote sensing define availability in the same way ? It seems like a catchall as it currently stands.
- Not much experience on the solar side but is 'illuminan

[2021-01-14 18:31] stephenholleran commented on #38
No I don't think so. And it might not be just for lidars. I don't have an example though.

Availability is tricky because it can mean so many different things. I'm not sure if we can do much better but open to amendments you might suggest.

Irradiance is sufficient to capture all of those. Illuminance isn't really used but added it in just in case.

I think what you are suggesting is that instead

[2021-01-14 18:34] #43 closed

[2021-01-14 18:51] abohara commented on #38
Thanks @stephenholleran

- availability: I agree. We deal with the same issue in turbine analytics. I am ok with it being as is. Either it remain generic-vague or we resolve it to something specific (but avoid the gray). Would you be open to appending something like the following to the explanation: "... This is currently a generic catch-all for all 'availability' like metrics and may be resolved

[2021-01-14 21:48] stephenholleran commented on #38
They are good comments @abohara thanks.

Yeah, we should split them up and might as well do it now seen as we are thinking about it.

In the same vain I have split up temperature into `air_temperature` and `temperature` of anything else. Been able to pick out the air temperature will help with automatically calculating the air density.

@abohara if you can approve the pull request now that would

[2021-01-14 21:53] abohara commented on #31
@Dynorat Any success reaching out to Windographer folks ?

[2021-01-14 22:07] #38 closed

[2021-01-15 13:46] #29 closed

[2021-01-15 13:48] stephenholleran commented on #12
Created a `dev` branch after the master was tagged with v0.1.0-2021.01.

[2021-01-15 13:48] #12 closed

[2021-01-26 11:42] stephenholleran commented on #30
https://www.linkedin.com/feed/update/urn:li:activity:6759743533516685312/

[2021-01-26 11:42] #30 closed

[2021-01-26 16:15] kilojoules opened #45 "Feature request: metadata for uncertainty quality"
It is possible that different data sets will have different amounts of available detail regarding uncertainty information. Uncertainty point estimates are simple to read but hard to interpret. Entire calibration data sets are more complex to manage but allow for higher-quality uncertainty information. Higher-level metadata could include the type of uncertainty information.

For example, in a data

[2021-01-26 16:19] kilojoules opened #46 "Bug: Broken Link"
The page https://github.com/IEA-Task-43/digital_wra_data_standard/blob/master/docs/iea43_wra_data_model-properties-measurement-location-measurement-location-properties-measurement-point-measurement-point-properties-sensor-sensor-properties-calibration-calibration-properties-calibration-uncertainty-calibration-uncertainty.md has broken links. When I click `IEA Wind Resource Assessment - Data Model`

[2021-01-28 17:55] abohara commented on #45
@kilojoules Thanks ! Uncertainty of a dataset could indeed be helpful in a market place. Currently, the data standard is focused on documenting the details (metadata) of a campaign. Hence, we do have fields for calibration uncertainty (to describe sensor). The overall data set uncertainty (some combination or sensor uncertainty, data recovery etc) I presume is more of a calculation that can be der

[2021-01-29 05:03] abohara commented on #46
@stephenholleran @flrs-edf Any idea how these are generated ? Or what might have caused broken links ?

[2021-01-29 05:13] abohara commented on #33
@sdsmdp @stephenholleran

I see the following version information in the JSON example currently. Is this sufficient ? If I understand correctly, X wants to pass their data to Y, and hence generates the JSON and specifies that the JSON is consistent with V0.1 of the WRA schema ? In that case , do we need anything beyond, simply : ```version: '0.1.0' ``` ?

How do we handle future breaking changes s

[2021-01-29 05:17] abohara commented on #46
@stephenholleran @flrs-edf  I just tried to clone the repo and it threw up errors that some of the filenames in the docs were too long. Any suggestions on how to shorten it ? I wonder if this is the causing the broken links.

![image](https://user-images.githubusercontent.com/6306857/106234705-26e9ea80-61ae-11eb-8059-fd9aee756005.png)

[2021-01-29 05:52] abohara commented on #28
@stephenholleran @kersting Replacing the following should do it. What we should really do is include a 'conda' environment or pip requirements file to fix the version of the packages. The following changes should make it generic enough to work though (atleast it does on my computer :\ and I was having the same issues as Gibson)

**Replace**
[code]

**with**

[code]

[2021-01-29 05:52] abohara commented on #28
I would submit a pull request, but I can't clone the repo currently because the file name in the docs folder are too long.

[2021-01-29 05:53] abohara commented on #31
@Dynorat Any success ?

[2021-01-29 06:03] abohara commented on #24
@AndyClifton @stephenholleran @joejoeyjoseph @flrs-edf

Looked into the twined tool and it appears to use a similar jsonschema type specification as we do here. The domain of application seems to be more focused on specifying a compute graph or chain steps of an analysis ( sort of a compute pipeline or graph that seem to be standard in ML type analysis these days ) as opposed to describing metadat

[2021-01-29 15:44] kilojoules commented on #45
Uncertainty information often is derived from larger data sources. While using a single number for uncertainty can often be sufficient, uncertainties with large tails, multiple modes, or other unusual structures may require percentile or binned information. It could be interesting to allow for more-advanced UQ analysis with an optional hyperlink leading to a separate calibration data set.

[2021-01-29 16:04] kersting commented on #45
@kilojoules Could you please provide a specific example related to resource assessment and this data schema that is under development? A concrete and real application used by the industry would be very helpful for us to understand what you're trying to communicate. In the case of this schema, we have the calibration uncertainties for anemometers defined by MEASNET and used for power performance te

[2021-01-29 16:30] sdsmdp commented on #33
@abohara , I am confused by your comment. The snippet you quoted is from the JSON schema, and so it specifies and describes the version attribute. In practice, an actual JSON file that implements the schema will have  simple name-value pair as you suggest (e.g., `version: "0.1.0-2020.06"`).

Is it the additional identifiers that follow the version number that you question? I believe (but we could

[2021-01-31 15:10] stephenholleran commented on #46
Hi @kilojoules,

Thanks for letting us know.
I just clicked the link in your first post and it seems to work fine for me. I even cleared out my cache in case it was loading from there. Is it still broken for you?

@abohara
These pages are automatically created so I'm not sure if we have any control over that. They are very long and yes, if you are trying to open them in Windows you will most likel

[2021-01-31 15:19] stephenholleran commented on #46
@abohara
This I think is one of the longest file names in my local repo:
[code]
It is 309 characters long.

This[ Stack Overflow](https://stackoverflow.com/questions/22575662/filename-too-long-in-git-for-windows) post might help. I may have done something to allow me to clone previous repos and so haven't had a problem with this one.

[2021-01-31 15:46] stephenholleran commented on #33
Hi @abohara @sdsmdp
To try and help clear up @sdsmdp confusion, the code snippet:
[code]
Is in the Schema file to describe how the Schema version number is displayed in a json implementation, as in the demo implementation:
[code]
So to answer @abohara's question:

Yes, I think it is sufficient for Y to know what Schema version was followed to create the json and so will be able to parse it based o

[2021-01-31 15:50] stephenholleran commented on #33
@sdsmdp

Regarding the rest of your post on principals for updating the Schema and version number I totally agree it would be good to implement. I found months ago a blog about updating JSON Schema's specifically and it looks reasonable.
https://snowplowanalytics.com/blog/2014/05/13/introducing-schemaver-for-semantic-versioning-of-schemas/

[2021-01-31 16:07] stephenholleran commented on #45
Hi @kilojoules

Yes you are correct. However, as @abohara points out the data model is "focused on documenting the details (metadata) of a campaign". It captures how the mast setup was, the facts.

Coming up with an overall uncertainty includes a lot more than simply the anemometer calibration as @abohara was saying. It also includes how the anemometer is mounted on the mast, how much data was rec

[2021-01-31 16:09] stephenholleran commented on #24
Thanks @abohara!
I'll close this so.

[2021-01-31 16:09] #24 closed

[2021-01-31 16:28] kersting commented on #28
I'm getting the same error. The file is too long for cloning as well.

[2021-01-31 18:03] stephenholleran commented on #28
@kersting
This post might help:
https://github.com/IEA-Task-43/digital_wra_data_standard/issues/46#issuecomment-770398499

[2021-02-01 00:29] kersting commented on #28
@stephenholleran both the link you provided me for the git fix and your updated code worked. I'll submit a pull request.

[2021-02-01 00:37] kersting commented on #28
The pull request has been submitted.

[2021-02-01 10:43] stephenholleran commented on #28
@kersting that is great.

I don't see a pull request though?

[2021-02-02 02:04] flrs-edf commented on #46
@stephenholleran, I also found the broken link in the file @kilojoules described, it is this one:

https://github.com/IEA-Task-43/digital_wra_data_standard/blob/master/docs/iea43_wra_data_model-properties-measurement-location-measurement-location-properties-measurement-point-measurement-point-properties-sensor-sensor-properties-calibration-calibration-properties-calibration-uncertainty-calibration

[2021-02-02 12:01] stephenholleran commented on #46
Cheers @flrs-edf, that is a new release alright. 12 days ago whereas our last commit to master was 19 days ago.

I don't know how this workflow works. Is there a way to kick off running the documentation creation on GitHub without having to commit something to master?

[2021-02-04 04:56] abohara commented on #33
@stephenholleran @sdsmdp

Sorry for the confusion, but it seems like it is cleared up. I think I mistook the originally issue to mean that the JSON schema did not have any version information. Hence I had that snippet there as evidence that maybe we could clear it.

The first two principals ( from @sdsmdp) seem very reasonable and aligned with the Sem. Ver. approach. I have also found an accompany

[2021-02-04 05:30] sdsmdp commented on #33
Other than implementing a version at the top of the schema as @stephenholleran suggested, I don't think we need to do anything else at this time. When we actually make a change we can think through and better provide guidance on how to:

- Adopt the change
- Work with/convert data files that conform to an older version of the schema

In other words, I think figuring this out can be one of the stor

[2021-02-04 17:35] stephenholleran commented on #46
The documentation workflow was manually ran by going to actions - Compile Documentation to Markdown - Run Workflow

Links seem to work now.

![image](https://user-images.githubusercontent.com/25622575/106932054-2a7df400-670f-11eb-9fbb-518afb32aaa4.png)

[2021-02-04 17:35] #46 closed

[2021-02-04 17:54] stephenholleran opened #47 "[Schema] Add version number to Schema itself"
This carries over from the conversation #33 about putting the version number in the database.

We need to add the version number inside the Schema file itself so it can be identified.
`"$version": "0.1.0-2021.01`

As part of that discussion @flrs-edf suggested adding the actual schema file to the release to allow that particular file to be downloaded instead of downloading the whole repo.

- [x] A

[2021-02-04 17:55] stephenholleran commented on #33
I have create a new issue #47 to specifically deal with adding the version number to the schema.

This issue is about putting versions into the database so this issue will stay open.

[2021-02-05 01:05] kersting commented on #28
@stephenholleran Can you see if it went through. It may be proxy problem from my side.

[2021-02-05 10:01] stephenholleran commented on #28
Hi @kersting, there is a new commit direct into the master branch with the fix. There was no pull request.

I'll close this now with that fix. Thanks guys.

[2021-02-05 10:01] #28 closed

[2021-02-06 20:57] stephenholleran opened #48 "[schema] calibration uncertainty has a title of "Reference Unit" instead of "Uncertainty""
![image](https://user-images.githubusercontent.com/25622575/107129534-eb41d580-68bd-11eb-84c7-f9d8d551f465.png)

[2021-02-07 13:49] stephenholleran opened #49 "[schema] make property 'sensitivity' unique"
When looking for 'sensitivity' through the schema it can find 'Logger Sensitivity' when it could also mean 'Calibration Sensitivity'.
Rename one of them to make it unique.

[2021-02-08 13:48] stephenholleran opened #50 "[schema] make measurement_location an object instead of array"
At present the Data Model has measurement_location as an array. This means that many met masts can be contained in a data model for the one wind farm.

This can make the data model very large and difficult to navigate, even with code. In code, if a class is created for a met mast it is not possible to have many instances of this class if many met masts are included in the data model without having

[2021-02-08 23:06] sdsmdp commented on #50
I support your recommendation, @stephenholleran. To the best of my knowledge, analysts currently only deal with data files from a single mast (or the equivalent; e.g., a single lidar). Moreover, in every use case for combining data I've heard discussed, the desire has been to combine time series data that may have initially been gathered for a shorter time range (e.g., 1d) into a file that spans a

[2021-02-08 23:27] stephenholleran commented on #50
Hi @sdsmdp ,
Thanks.
Yes, this is just for the schema. For the database there will be many masts, lidars, sodars sometimes all on the same site.

[2021-02-08 23:31] kersting commented on #50
For me it makes sense to have as an object as well. The analyst can create a collection of those objects and iterate over them if multiple met masts need to be analysed together (which is usually the case). For me this is cleaner than having a long array of measurement locations.

[2021-02-08 23:38] sdsmdp commented on #50
Yes, @kersting, I agree with using a collection if/where needed rather than an array. That is generally much more powerful, anyway.

[2021-02-09 08:26] abohara commented on #50
@stephenholleran I am a little unclear about your request. Are you advocating that data for only one location be allowed per file ( e.g. per JSON) ? So, if a project has 5 towers you prefer for it to be spread across 5 JSON files ?

If you would like to do that now, I don't think the JSON schema stops you from doing it ? For e.g. ```measurement_location[0]['name'] ``` ? You can implement that as a

[2021-02-09 17:25] ClaidheamhAthair opened #51 "Scanning lidar & integration of measurements with models"
Reading through the JSON Schema, it seem to me scanning lidar is not accommodated, and the schema does not seem suitable for a common representation of wind data from both measurements and models, which would then support the integration of models and measurements into a single object-oriented representation of wind conditions that could then be coupled to other items in the wind power model chain

[2021-02-09 17:32] ClaidheamhAthair commented on #51
Reading back, that's quite a lot ... something to consider for version 2.0 at least?

[2021-02-10 18:48] stephenholleran commented on #51
Hi @ClaidheamhAthair,

Thanks for commenting.

You are correct that scanning lidar is not considered, yet. We deliberately didn't include it as it is a completely different beast compared to a met mast or vertical scanning lidars. We wanted to get something developed to a pretty good standard for a typical use case. Once that is out there, we can see what the uptake is before spending a huge amoun

[2021-02-10 19:16] stephenholleran commented on #50
Lets discuss on tomorrows call. Thanks.

[2021-02-11 01:15] ClaidheamhAthair commented on #51
Hi Stephen

Thanks for responding, sorry if I came across a bit like I had a bee in my bonnet about this. You're right, we have to start somewhere and the use case you have identified is of course the one most likely to encourage adoption, which is absolutely key.

I realise I possibly raised a bit of an "everything" issue. I'd be delighted if I could take a step back, mull things over, and then c

[2021-02-11 15:44] stephenholleran opened #52 "[demo data model] update the version number to the actual released verison"

[2021-02-11 16:47] stephenholleran commented on #49
There is more than just sensitivity unique. Slope and offset are also common in more than one place. Take another look at a different way to pull out the correct property name.

[2021-02-11 17:00] stephenholleran commented on #50
A solution could be for the code to convert the list into a dictionary with the name of the measurement_location as the key.

Consider SQlLite as an option.

[2021-02-11 20:33] stephenholleran commented on #51
Thanks @ClaidheamhAthair, we would love to have you come on a call with us. We can pencil in the 11th March if you are available?

[2021-02-18 17:05] abohara commented on #51
@ClaidheamhAthair would be great to have you come chat at our meetings. Perhaps help identify what a reduced set of variables are so we can get up and running.

[2021-02-18 17:33] abohara commented on #49
@stephenholleran From schema design perspective I would consider this a feature than a bug. The ```sensitivty/slope/offset``` in the ```calibration``` table refer to those values in the calibration context, and the ```sensitivity/slope/offset``` in the ```sensor_configuration``` table refer to those values in the logger / sensor calibration context. When you are joining the tables there is a clash

[2021-02-18 19:29] abohara commented on #35
@stephenholleran @kersting Do you have any documentation or reference sources that can be used to implement this ?

[2021-02-19 15:29] ClaidheamhAthair commented on #51
Hi @stephenholleran @abohara a call on 11th March sounds ideal, thanks, let's talk then

[2021-02-23 10:49] kersting opened #53 "[DCC] place_of_calibration could be ambiguous"
@stephenholleran I am afraid that place_of_calibration could be ambiguous. There is one calibration organization out there that operates in 2 countries. What if a calibration organization builds two tunnels in the same country? It is very unlikely that a calibration organization would have 2 tunnels in the same city. Should we change from place_of_calibration to city_of_calibration?

[2021-02-23 11:01] kersting opened #54 "[DCC] calibration_organisation in its own table"
Given that calibration organizations don't change very often and that not many are out there. Should we create a table similar to the logger_oem table?

[2021-02-23 11:11] ponce10 commented on #53
@Gibson: Actually there are some institutes that have more than one wind tunnel. However naming of those is not standardised. Probably would be good to have something like place of calibration and internal designation for the sake of completeness. However for data exchange purpose that might to be crucial.

[2021-02-23 11:45] kersting commented on #53
@ponce10 The idea of the place_of_calibration is to address the fact that some institutions have multiple tunnels. As far as I'm aware the institutions with multiple tunnels, have their tunnels in different countries. Is that correct? Are you aware of tunnels from the same institutions in the same country?

[2021-02-23 11:58] ponce10 commented on #53
@gibson: In fact DWG has more than 1 tunnel in 1 location. You are right. Most have only one tunnel (like us), but the format shall be open to collect all relevant information in the certificate.

[2021-02-23 12:08] kersting commented on #53
For me the location is more important for traceability. For example, I want to know if my anemometer was calibrated in tunnel A vs tunnel B because tunnel A and B have a different geometry. That is the reason why place_of_calibration would be important because it would help in the traceability. If there is another feature that we can use to keep that traceability then I think we should consider.

[2021-02-23 14:14] heikowestermann commented on #53
In my opinion `place_of_calibration` should be a unique string identifying the location or in my case multiple wind tunnels. In my current example dataset I use the following string in the calibration certificate (demanded by ISO17025) and the data export: _"Wind tunnel 2 of Deutsche WindGuard Wind Tunnel Services GmbH, Varel"_. This identifies the location and the wind tunnel.
I think `place_of_c

[2021-02-23 14:28] heikowestermann commented on #54
From a maintainability standpoint I somehow fear that enum's can be a pain to update and would result in a new version of the standard but maybe I am just overthinking this, so I won't object to the idea. Since there already is a logger oem enum I don't think there is anything wrong with adding another enum. What do you think @stephenholleran ?

[2021-02-24 13:08] kersting commented on #53
@heikowestermann I like your proposal. If the information is available in the calibration certificate that would work very well. Is that information available usually in calibration certificates?

[2021-02-24 15:40] heikowestermann commented on #53
@kersting To be sure I looked it up again: ISO 17025 (the accredited calibration lab standard) states that "the location of performance of the laboratory activities [...]" has to be in each report. Since all anemometer calibrations need to be accredited, I think it's safe for us to assume that all labs include such a statement. This doesn't necessarily mean that the individual wind tunnels are nam

[2021-02-25 16:55] #45 closed

[2021-02-25 17:51] abohara commented on #54
I support @heikowestermann . For the current version of things / maintainability concern I would support it being a simple text field. Fewer tables I think help with adoption and digestibility, especially for a possible new adopter.

[2021-02-25 17:59] abohara commented on #53
@heikowestermann @kersting It seems may be we should have a ```tunnel_id``` since that is separate. Right now the ```place_of_calibration``` seems to be a serving dual purpose of tracking the physical address of the labs and the tunnel number. That way if for some analysis we do need the tunnel number, we don't have to relying on parsing a string like "Wind tunnel 2 of Deutsche WindGuard Wind Tunn

[2021-02-25 18:34] stephenholleran opened #55 "[schema] suggest remove the `additionalProperties: false` for the header info"
I am proposing removing the `"additionalProperties": false` for the header info in the schema. This restricts any other properties that someone wants to write in. Seen as this is for the header information (as shown in the snippet below) it doesn't impact on the schema itself.

[code]

The use case in my particular situation is for BrightHub. We would like to attribute the owner of the data in the

[2021-02-25 18:41] kersting commented on #53
@abohara I like your proposal but we need to make sure that the number of wind tunnels is not so big. There are not many calibration institutes out there though. Would the calibration institutes would be responsible for providing tunnel_id and place_of_calibration?

[2021-02-25 18:43] stephenholleran commented on #49
@abohara

Yes, that wouldn't be possible.

[2021-02-25 18:43] #49 closed

[2021-02-25 18:55] stephenholleran commented on #53
@abohara @kersting

I think for us, now, I agree with @heikowestermann

I think place_of_calibration leaves enough room to define these unique strings and is not too restrictive

'place_of_calibration' is good enough for us now.

I would defer this to the possible Digital Certificate Standard to capture if a tunnel id would be required. It may be just a case of defining what 'place_of_calibration'

[2021-02-26 07:44] heikowestermann commented on #55
I have been thinking about the restriction of additional data for my calibration certificate schema as well and I think there is not much gained in restricting meta-data, so I am in favor of flipping false to true. Beeing restricitive keeps everything nice and tidy but the downside would be that potential adopters can get scared away.

[2021-02-26 10:32] stephenholleran commented on #35
@abohara Sorry for the delay in response.

There is a function in the brightwind library already that can apply the selective avg. I haven't adapted it yet to take in the new data model and do it automatically but it's coming.
https://brightwind-dev.github.io/brightwind-docs/tutorials/how_to_transform_your_data.html#7.-Using-the-selective_avg()-function

The code underneath is not pretty and needs

[2021-02-26 12:40] stephenholleran opened #56 "[schema] Add 'power' to 'measurement_type'"
If a measurement station wants to monitor a solar panel or lidar power system we should include this.

Also, the `measurement_units` should include `Watts`.

[2021-02-26 15:50] stephenholleran opened #57 "[schema] add 'solar' to the plant_type enum"
The `plant_type` enum currently only allows onshore_wind and offshore_wind. I would like to include `solar` to that list.

A lot of developers are now not just wind developers but also solar developers. Therefore allowing them to use the same data model for both would be useful.

We already account for lots of solar measurement types and units.

Should we distinguish between solar PV and solar The

[2021-03-01 16:15] kersting opened #58 "sensor_type_id for geovane"
@stephenholleran Given that the geovane is gaining more acceptance in the wind industry, we would need to define what is the sensor_type_id for it. We could put under other but I think we should give a propoer id to it. Also, I believe geovane is a commercial name for the device. What are your thoughts?

[2021-03-02 12:48] stephenholleran commented on #58
Hi @kersting,

Yeah, sensor_type_id like 'anemometer'. We have it's measurement_type_id which is 'true_north_offset' and units of 'deg'. We are missing sensor type. https://github.com/IEA-Task-43/digital_wra_data_standard/issues/38#issuecomment-755744199

I'm not exactly sure what it should be? It is measuring the offset from True North or you could say a direction. Therefore, is it a compass?

I

[2021-03-02 14:29] stephenholleran commented on #56
Include energy too.

[2021-03-03 17:18] stephenholleran commented on #56
@abohara @kersting as you can see I have added a few more than just power and energy.

While we are at it, are there any other measurement types, units or sensor types you can think of adding now?

The Geovane is in another issue.

[2021-03-04 16:50] stephenholleran commented on #58
From meeting:
Investigate using compass_true and compass_magnetic.

[2021-03-04 17:13] stephenholleran commented on #53
From meeting:
@kersting to check if there are calibration facilities that do not have a unique string in 'place_of_calibration'.

[2021-03-04 17:40] #47 closed

[2021-03-04 17:40] #52 closed

[2021-03-04 20:46] kersting commented on #53
@stephenholleran I looked at calibration certificates of DWG, SOH, IDR, Ammonit, and ProfEC Ventus. All of them have and address but only DWG and ProfEC Ventus use the definition place of calibration. If we can confirm with the calibration institutions that the address matches the place of calibration then we're fine. We should discuss this topic in the next meeting.

[2021-03-05 11:47] #48 closed

[2021-03-05 11:50] #55 closed

[2021-03-05 11:54] #57 closed

[2021-03-05 11:55] #56 closed

[2021-03-05 12:10] stephenholleran commented on #53
@kersting that is not great. Seen as place of calibration is in the ISO standard I would have hope it would be there. I checked an Ammonit Wind Tunnel one and I did find it. It was on the second page so not obvious when there are other descriptions on page 1. See screen shot below.

Would SOH, IDR have that info in other places on the cert?

![image](https://user-images.githubusercontent.com/25622

[2021-03-05 12:27] ponce10 commented on #53
The ISO 17025 requires the following: "the location of performance of the laboratory activities, including when performed at a customer facility or at sites away from the laboratory’s permanent facilities, or in associated temporary or mobile facilities;"

Thus all calibration certificates must have the info where the sensor is calibrated. However for some sensors it is not that relevant as it is

[2021-03-05 12:44] stephenholleran commented on #58
Sorry @kersting @abohara @heikowestermann @flrs-edf this is a bit long but there is a conclusion (if you all agree).

Some definitions of 'compass'

https://en.wikipedia.org/wiki/Compass

https://www.merriam-webster.com/dictionary/compass

https://dictionary.cambridge.org/dictionary/english/compass

https://www.dictionary.com/browse/compass

From my reading of this a compass can be any device that

[2021-03-05 12:52] stephenholleran commented on #53
Thanks @ponce10, very useful.

@kersting going by this place of calibration must be there. Are you able to check SOH and IDR again to make sure?

Also, just an FYI; this:

is what worries us from a digitalisation point of view and is something we think a collaborative approach to a digital calibration certificate could help us with.

[2021-03-05 13:28] kersting commented on #53
@ponce10 and @stephenholleran I'm sorry for my oversight on the place of calibration for Ammonit wind tunnel. I looked again on SOH (North America only) and IDR and I confirm that place of calibration is not there.

[2021-03-05 16:25] flrs-edf commented on #58
Thanks for this interesting in-depth research, @stephenholleran! To me `solar_compass` sounds like the way to go!

[2021-03-07 19:27] kersting commented on #58
@stephenholleran I agree with Florian.

[2021-03-08 17:47] ponce10 commented on #53
Do not over interpret the statement on accreditation body staff. The differences are small.

[2021-03-08 18:01] kersting commented on #53
@ponce10 SOH has the address but nothing about place of calibration. For IDR they have test laboratory which would be a substitution for place of calibration so I guess for IDR is just a wording problem.

[2021-03-10 10:48] stephenholleran opened #65 "[Schema] update link to lidar oncology in device_datum_plane_height_m"
New link is
http://data.windenergy.dtu.dk/ontologies/view/ontolidar/en/

[2021-03-11 10:38] stephenholleran commented on #51
Hi @ClaidheamhAthair, I don't think I sent you the meeting invite as I don't have your email?

If you are still available for the call today please send me your email and I'll forward the invite. My email is stephen@brightwindanalysis.com

Cheers

[2021-03-11 17:27] ClaidheamhAthair commented on #51
Hi Stephen

Sorry I didn't get back to you earlier. No, I didn't receive an invite, but would still like to attend - drop me a line at my work email at ***@***.*** and let's arrange something.

Warm regards

Peter

________________________________
From: stephenholleran ***@***.***>
Sent: 11 March 2021 10:38
To: IEA-Task-43/digital_wra_data_standard ***@***.***>
Cc: Peter J M Clive ***@***.***>; Me

[2021-03-11 18:19] kersting opened #68 "sensor_config table naming"
@stephenholleran I'd like to bring up a point related to the sensor_config table. After some internal development it became confusing for the DB developer that sensor_configuration also applied to remote sensing devices. Based on that I'd like to ask if it makes sense for us to just call it measurement_configuration. This would relate better with measurement_point and it would be less confusing if

[2021-03-12 11:56] #65 closed

[2021-03-12 11:57] #58 closed

[2021-03-12 12:00] stephenholleran commented on #53
From meeting:
It was decided to improve the description in the Schema for now.
It is hoped that a digital calibration group could define place_of_calibration to be a unique identifier for a wind tunnel or place that will be part of their standard.

[2021-03-12 12:19] stephenholleran commented on #68
Hi @kersting,

I agree the `sensor_config` name is not the best even for a met mast. It is "The sensor configuration that is programmed into the logging device." It should possibly be called something like `logger_config` or `logger_sensor_config`. We already have `logger_main_config` for the main logger configuration settings.

I see the logic in calling it `measurement_config` as it links to the

[2021-03-12 13:35] sdsmdp commented on #68
What about `programmed_sensor_config`? Sadly, it is not any shorter. But does that capture what you were trying to describe, @stephenholleran ?

[2021-03-12 14:14] flrs-edf commented on #68
I am not worried so much about the length or the introduction of a breaking change at this point.

[2021-03-12 14:39] stephenholleran commented on #68
Thanks @sdsmdp

The point @kersting is making is that a lidar unit doesn't have a "sensor" up at 100m and so 'sensor_config' is misleading when dealing with just lidars. So a name with sensor wouldn't be appropriate.

I would be interested to hear what do you think about:

[2021-03-12 14:45] kersting commented on #68
I like logger_measurement_config better because I think we should remove the word sensor from the table name to avoid confusion with remote sensing devices. I don't see the breaking change as a big problem right now.

[2021-03-12 15:12] sdsmdp commented on #68
Sorry, I guess I didn't read enough of the thread. Given the clarification, I agree with `logger_measurement_config` or perhaps consider `programmed_measurement_config`. Either way, I think it will be clear enough that we are configuring how to make a measurement, whether via a sensor or a range gate at the described height.

I have no reason to be concerned about a breaking change this early in t

[2021-03-18 16:50] Dynorat opened #70 "[DCC] Request to support multiple instrument types for digital calibrations"
In addition to anemometers the digital calibration standard should support instrument types such as barometers, temperature, wind direction, etc.

[2021-03-19 14:31] heikowestermann opened #71 "Move objects to definitions"
While working on the schema I wanted to validate my calibration dataset against the 'calibration' object inside the schema. Currently this seems to involve multiple steps into the schema. Here is a python example:
`wra_schema['properties']['measurement_location']['items']['properties']['measurement_point']['items']['properties']['sensor']['items']['properties']['calibration']['items']`
For the sch

[2021-03-19 14:45] heikowestermann opened #72 "[schema] calibration object should contain calibration_id instead of report_file_name"
Since the `calibration` object already contains a `report_link` property, should the `report_file_name` property be replaced with a report/calibration id? From a lab standpoint the calibration id is the unique id for a calibration so it's a good indexer here. Alternatively the calibration id could be also be added as an additional property.

[2021-03-20 10:22] kersting commented on #72
@heikowestermann What is the definition of report_link? is it a web link? Also, I think that the report ID is not so important for the analyst unless I am missing something on how this could influence the results of an analysis.

[2021-03-22 22:27] abohara commented on #68
@stephenholleran @kersting

The proposed changes sound reasonable (agree breaking changes are not a concern). However, there is a host of other naming oddities that I think warrant a revisit. For e.g. may be a 'measurement_point', should be a `measurement_stream` given many measurements are not oriented towards points and if measurement_point table should have more distinguishing properties beside

[2021-03-25 15:46] stephenholleran commented on #68
During meeting 25-Mar-2021 we agreed that logger_measurement_config is good to go with.

[2021-03-26 11:23] kersting opened #73 "Should we create a new field for time offset?"
@stephenholleran offset_from_utc_hrs covers when a device is offset to a certain time zone; however, it does not cover when the time in the logger is entered incorrectly. This affects primarily legacy data given that most of the loggers and remote sensing devices are time synchronized. Still there is a lot of legacy data and time offsets show up in installation documents and need to be accounted b

[2021-03-26 12:50] kersting opened #74 "measurement_type_id additional types"
@stephenholleran specially remote sensing devices have very specific measurement types that probably should be added to the current list. The following types should be at least brought to a discussion.

1. Info flags and status flags (probably we can fit all under flags or have it as statistic_type_id under quality).
2. Packets (packets with rain, packets with fog and the comments above probably f

[2021-04-01 15:41] stephenholleran commented on #70
During meeting of the 1-Apr-2021 the group decided that anemometers and wind vanes only to be considered for this first MVP.

[2021-04-01 15:46] stephenholleran opened #75 "[DCC] Request for template existing calibration certificates"
Request sample calibration certificates from wind tunnel calibration facilities in order to have a baseline for making sure the digital calibration certificate is satisfied.

[2021-04-01 16:07] #70 closed

[2021-04-01 16:27] stephenholleran opened #76 "[DCC] What is the purpose of the Digital Calibration Certificate?"
During meeting of the 1-Apr-2021 it was decided that the MVP should be to satisfy the WRA Data Model and the IEC 61400 requirements.

This should set a foundation for the calibration facilities to expand upon to satisfy other needs outside of wind resource assessment.

The structure of the digital calibration certificate can take the form of other future digital calibration structures.

[2021-04-01 22:25] kersting commented on #75
@heikowestermann Please shoot me an email with wind tunnels under measnet and I'll contact them.

[2021-04-06 16:29] abohara commented on #75
@sdsmdp Would any of the facilities you use be able to share sample calibration certs ?

[2021-04-08 16:17] stephenholleran commented on #31
@kersting any chance you can pick this up? Thanks.

[2021-04-08 16:23] stephenholleran commented on #33
@kersting Do you know if there is a way to convert a JSON Schema file into a PostgresSQL or other database schema.

[2021-04-08 16:26] #50 closed

[2021-04-08 16:41] stephenholleran commented on #73
@kersting @abohara
A solution could be to expand the description of the existing `offset_from_utc_hrs` to include an incorrect time programmed into the logger.
Agreed during meeting on 8th April 2021

[2021-04-08 17:15] stephenholleran commented on #74
@kersting @abohara
From our discussion on 8th April 2021 we were discussing the possibility of creating a naming convention of something like `temperature_status`. @abohara please give a better example?

What we do is tag on the `statistic_type` onto the measurement_point name e.g. `Logger_Tmp_avg`, `Logger_tmp_count`.

- [ ] Add `flag` to measurement_type enums.

- [ ] Add `tilt` to measurement_t

[2021-04-08 22:05] kersting commented on #74
@stephenholleran I like the naming convention idea. Anemoi had some sort of naming convention. We have a naming convention that we'd be happy to share but even what we have would require some polishing.

[2021-04-15 15:12] stephenholleran opened #77 "[DCC] meeting notes"
**Meeting 15-Apr-2021**
Attendees: SH, GK, JF, HW, MP, VC, AB

issue #75
GK got SOH calibration template. Upload to Google Docs?
HW will send on his.
MP will reach out next week.

**Jumped back into reviewing the draft DCC with HW:**

- `calibration_id` - a unique identifier assigned to the calibration. Not globally unique on it's own but is when combined with an accreditation_id.
Called 'Certific

[2021-04-15 15:14] #76 closed

[2021-04-16 00:22] kersting commented on #77
@stephenholleran Could you please update the meeting request including the link for Google Drive so people can have access to the calibration certificate templates?

[2021-04-19 18:15] kersting opened #78 "[DCC] Calibration date to be added in the schema"
One of the important topics in resource assessment that don't influence the day to day work but it may affect the way that organizations deal with calibrations is associated with calibration dates. Wind tunnels may change their geometry or mounting arrangements. Calibration dates help to analysts to investigate trends in tunnels. I'd suggest to add this topic to the next meeting (not necessarily t

[2021-04-19 21:34] stephenholleran opened #79 "[SQL] measurement_point_sensor move date_from and date_to from sensor into this table"
Scenario:
How does a user know when a `measurement_point` ends? At present it comes from the `date_to` in the sensor table however a sensor should be able to be associated with another measurement_point without having to replicate it. Therefore I am proposing moving the `date_from` and date_to` fields up from the sensor table into the measurement_point_sensor mapping table.

This has no impact on

[2021-04-19 21:39] kersting commented on #78
You're right. I didn't see it. Sorry for bringing this up.

[2021-04-19 21:39] #78 closed

[2021-04-19 22:46] kersting commented on #79
@stephenholleran Can we discuss this in the next meeting? I'm not sure I follow it. I don't understand what you mean by having to replicate it.

[2021-04-22 17:08] stephenholleran commented on #79
**Meeting 22-Apr-2021**
Agreed that this is a reasonable thing to do.

Brings up the question of measurement_point again. I will create a new issues for that.

[2021-04-22 17:16] stephenholleran opened #80 "[SCHEMA] Is measurement_point appropriate anymore?"
The measurement point concept was to capture a unique point in space (above the measurement_location) where a sensor is installed and measures. This was unique however we moved the boom_orientation attribute into the mounting_arrangement section which leaves the possibility for two anemometers to be installed at the same height and therefore not be unique in the measurement_point table.

The measu

[2021-04-22 20:18] flrs-edf opened #81 "Find a place for additional documentation"
I think it would be great if we can find a central place for presentations we gave about the standard, meeting notes, etc. I suggest that we use this repo's Wiki page for this. We can link to presentations, videos, etc. from there.

Opinions?

[2021-04-23 11:29] stephenholleran commented on #81
I've never used the GitHub Wiki before so not sure what it is like. But from a bit of reading it sounds good.

Are you able to put your PowerPoint and other files like that into the Wiki?

[2021-04-23 16:30] stephenholleran commented on #74
**Meeting on 22-Apr-2021**
Give guidance on how to create a new measurement_type, that is "the target" +  "_" + "type" e.g. "air_temperature" or "logger_voltage". ("Target" might not be the correct word?)

This guidance is to help contributors to create new measurement_types.

I'm still confused about this so I won't do anything on it yet.

[2021-04-25 13:13] kersting commented on #74
@stephenholleran I suggest using the words device and sensor instead of target given that you're referencing that to a measurement and it will always be either a device such as a lidar or a sensor such as a temperature sensor.

[2021-04-25 18:05] kersting commented on #81
@flrs-edf That looks like a cool option. Any chance that you could give a 15 minute presentation on the best way to organize GitHub Wiki and your experiences with it?

[2021-04-25 18:28] kersting commented on #80
@stephenholleran I agree with your points. Perhaps we need to speak a bit more about that in our next bi-weekly meeting given that this is a major change in the schema.

[2021-04-26 13:24] #68 closed

[2021-04-27 16:44] abohara commented on #81
We should be able to upload presentations atleast.  That would avoid relying on a 3rd part storage service. @flrs-edf  or @stephenholleran , would you like to upload your slides if you are comfortable sharing?

[2021-04-27 16:59] abohara commented on #80
I support a longer discussion on this.

[2021-04-29 16:04] stephenholleran commented on #77
**Meeting 29-Apr-2021**
AB, GK, SH, MH, HW

- `calibration_lab` continuation.. address is just the business address as it may be different from the `place_of_calibration`. Just use a single string for the address. Make if not required.
- `customer` keep it simple with just `name` and `address`. Keep `reference` as it could be used for and order number, PO number, etc.
- `test_item` information abo

[2021-04-30 23:41] flrs-edf commented on #81
@abohara I have no problem with sharing them!

@stephenholleran As far a I know you cannot upload files. We would have to share links to files uploaded somewhere else.

@kersting I am sorry I am unqualified to present on the topic. I do not use GitHub wikis all that often. I was just trying to find the easiest way for us to share information.

[2021-05-03 17:10] #73 closed

[2021-05-03 17:21] stephenholleran commented on #81
We can just share the Google Drive link and just make it view only or something like that. That works for me as my presentation is already on the IEA Task 43 Google Drive.

[2021-05-03 22:43] abohara commented on #81
@stephenholleran @flrs-edf @kersting

I have created a very basic Home page and a presentations page as the starting point for the wiki. What has worked for me as a 'starting' point previously, is a home page that has a list / link of all sub pages (for. e.g. Presentations ) and keeping things relatively shallow (2 levels).

I was convinced there was a way to upload files into the wiki here but it

[2021-05-14 13:10] kersting commented on #33
@stephenholleran Unfortunately we couldn't find any way to convert it.

[2021-05-14 13:11] kersting commented on #31
@Dynorat and @stephenholleran I got in touch with Tom and they showed interest but I haven't heard back in a while. Let's keep it open and I'll try again.

[2021-05-14 17:32] stephenholleran commented on #33
Hey @kersting, we still need to do something with regards the versioning of the PostgresSQL. At the moment whenever there is a change that effects the PostgresSQL I will keep it updated but we should formalize this with a version number.

[2021-05-14 17:34] stephenholleran commented on #14
@kersting this would be a good one to work on if you are interested?

[2021-05-27 16:13] stephenholleran commented on #77
**Meeting 27-May-2021**
AB, GK, SH, HW

- HW found out that the Vector packaging has two separate serial numbers for body and cup on the packaging. They are not joining them together in any specific way. This doesn't change our conclusions from the previous meeting.
- `description` is to say what the sensor is. We could use the `sensor_type` that already exists in the data model. It was agreed to

[2021-06-10 16:05] stephenholleran commented on #77
**Meeting 10-Jun-2021**
SH, HW, GK, MH, MP

- Carrying on from 'setup' and 'units' for the quantity of 'mounting diameter'. Use a single enum for 'units'. Copy from the WRA Data Model. Just use metric.
- 'setup' - 'mounting_orientation': add a good description, this is good as it is, it is referenced clockwise from 0 degrees with 0 pointing towards the wind.
- 'setup' - 'ambient_conditions': list

[2021-06-14 13:21] heikowestermann opened #86 "[DCC] Move ambient_conditions to result"
Since `ambient_conditions` are measured during a calibration and not known beforehand, moving them to the `result`-leaf feels more natural to me. Except from the `ambient_conditions` only values known "before" the measurement are defined in `setup` (e.G. wind tunnel, orientation, procedure)

[2021-06-22 12:36] kersting opened #87 "Adding firmware version in logger_main_config"
Loggers, lidar, and sodars may have a firmware update that can change data and metadata. I propose it adding to the logger_main_config given that this can change over time.

[2021-06-22 12:41] kersting opened #88 "Including uncertainty and classification information in the sensor table"
In IEC-61400-12-1 and 2 it is necessary to calculate uncertainties for all sensors. Currently we only hold uncertainty information for the calibration but not uncertainties related to the anemometer classification or just the normal temperature, pressure, and RH uncertainties. I propose the addition of the following fields in the sensor table.

classification
uncertainty
uncertainty_units
uncertai

[2021-06-22 12:44] kersting opened #89 "Uncertainty for acquisition system"
In IEC-61400-12-1 and 2 it is necessary to report also uncertainty from acquisition system. I propose a discussion on the use of uncertainty parameters for the acquisition system under the logger_model table.

[2021-06-24 15:19] stephenholleran commented on #53
It was decided that `place_of_calibration` will link to `wind_tunnel_id` in the digital calibration certificate.

Update WRA Data Model description to state this.

[2021-06-24 15:28] stephenholleran commented on #72
We decided to add `calibration_id` to the WRA Data Model as this is an id to identify a specific calibration from the calibration organization. `calibration_id` is also in the digital calibration certificate and so it is a simple mapping.

Do not make it required.

[2021-06-24 15:31] #75 closed

[2021-06-24 15:36] #86 closed

[2021-06-24 18:20] stephenholleran commented on #77
**Meeting 24-Jun-2021**
SH, HW, AB

- We went through some open issues and made comments where we thought we could.
   - closed request for calibration templates.
   - Decided to add `calibration_id` to calibration in the WRA Data Model.
   - Update `place_of_calibration` description to state that it maps to `wind_tunnel_id` in the DCC.
   - With regards issue #86 we decided to move ambient condit

[2021-07-01 14:11] #79 closed

[2021-07-01 14:28] stephenholleran opened #90 "[schema] Additional sensor types - thermohygrometer + vertical_anemometer"
I wish to add a `thermohygrometer` to the `sensor_type` enum. A thermohygrometer is a very common sensor that measures both temperature and humidity within the same sensor.

I also wish to either rename or add `vertical_anemometer` instead of `gill_propeller`. A Gill propeller anemometer is a brand name even though it is probably the only sensor that can measure vertical wind speed.
https://www.yo

[2021-07-01 14:32] stephenholleran opened #91 "[schema] Add 'solar' to measurement_station_type"
I wish to add `solar` to `measurement_station_type` to go alongside:
- mast
- lidar
- sodar
- flidar

We already have `solar` in `plant_type` so we need to allow this to be added or else the data model is inconsistent.

[2021-07-01 17:09] stephenholleran commented on #90
We decided to just add vertical_anemometer.

[2021-07-01 18:03] #91 closed

[2021-07-01 19:50] stephenholleran opened #96 "[schema] Add measurement_type to calibration"
As the data model stand a `calibration` is a child of a `sensor`.

We can have multiple calibrations for the same sensor that can be distinguished by their `date_of_calibration` e.g. anemometer calibrated before installation and then again after the mast has been decommissioned.

A problem arises when a sensor can measure more than one thing e.g.
- a thermohygrometer can measure both temperature a

[2021-07-01 20:13] stephenholleran commented on #87
@kersting
I think this is a fair enough attribute to add to logger_main_config. For lidars the WindCube firmware or software version can have an impact on the format of the resulting data file. I think for loggers it doesn't have much if any impact but we should probably include it for the lidars sake.

@abohara what do you think?

What would we call it?
`firmware_version`
`software_version` (call

[2021-07-02 07:47] #90 closed

[2021-07-02 17:01] #74 closed

[2021-07-02 19:55] abohara commented on #88
Hi @kersting  (cc @stephenholleran )

Re: uncertainty - Where would those values come from ? I assume usually it is some internal assumption on what those uncertainty might be (on top of the calibration uncertainty).

Re: classification - This makes sense.

[2021-07-02 20:06] kersting commented on #88
@abohara all that information comes from sensor manufacture. There are no assumptions.

- Temperature, pressure, and relative humidity have their uncertainties in the specification sheet. Those are necessary for power performance test.
- Anemometers on the other hand, have a class that will later be converted in the anemometer response uncertainty.

[2021-07-02 20:12] abohara commented on #89
Sounds good @kersting . I support the discussion. Generally, I assume these are very small uncertainties and up to the discretion of the res. assmt team. However, if there are some numbers provided by the OEM or in some way obtained through the measurement campaign then it makes sense to have it here.

[2021-07-02 20:13] abohara commented on #80
@kersting @stephenholleran . This is an important part (almost critical) of the core model. I suggest giving this priority in the next technical meeting. What do you think ?

[2021-07-02 20:14] kersting commented on #89
@abohara They're small indeed (in the order of 0.2% to 0.4% if I'm not mistaken) but they're present in any power performance test report provided by any consultant.

[2021-07-02 20:15] kersting commented on #80
@abohara Agreed. Sorry I couldn't attend the meeting yesterday. I took the day off but yes, let's make this a priority.

[2021-07-02 20:41] abohara commented on #87
@kersting @stephenholleran
Definitely agree we should have a version tracking.

`firmware_version` - seems to make the sense, since software often designed to go immediately above the hardware layer is called software. `software` I think is usually programs a little closer to the user and higher level of abstraction.

We should confirm if `hardware_rev` from NRG, actually just means the `firmware_

[2021-07-05 13:56] stephenholleran commented on #89
@kersting are you able to provide an example or screen shot so we can better understand? Thanks.

[2021-07-05 14:10] stephenholleran commented on #87
I would lean towards `firmware_version` too.

**abohara:**

This field will be a free field so yes, I would image the user will be able to concat a few versions together.

[2021-07-05 14:36] stephenholleran opened #97 "[schema] make `oreintation_reference` a definition"
`orientation_reference_id` is currently repeated in 3 places in the JSON Schema. This is not good practice as making a change to one will not be reflected in the others. Make them a definition and so when it is used it can be linked to that definition.

[code]

[2021-07-06 12:59] #72 closed

[2021-07-06 13:05] stephenholleran opened #99 "[schema] make `height_reference` a definition"
`height_reference_id` is currently repeated in 2 places in the JSON Schema. This is not good practice as making a change to one will not be reflected in the others. Make them a definition and so when it is used it can be linked to that definition.

[code]

[2021-07-06 18:44] kersting commented on #87
@stephenholleran and @abohara I think `firmware_version` is good but we need to make sure we add in the description cases such as the ZX one.

[2021-07-06 19:02] kersting commented on #89
@stephenholleran Here is an example for the NRG T60. You can see the accuracy row on the bottom (same as uncertainty). To convert that to uncertainty in energy there is some math that it is necessary but the bottom line is that this is the input for that IEC calculation.

![image](https://user-images.githubusercontent.com/19154103/124653362-d3698000-de62-11eb-894a-2a4d4e8a86f8.png)

[2021-07-06 21:23] sdsmdp commented on #87
I agree with @kersting  that, in the absence of discrete attributes to breakdown compound or structured version numbers, some kind of free form description field must be available and, I propose, be a required field so recipients know how to parse the `firmware_version` provided.

@abohara, `hardware_rev` as used by NRG means a board spin (e.g., "Rev. G" board). This is separate and distinct from

[2021-07-07 13:25] stephenholleran commented on #89
@kersting I think you meant that for issue #88
I'll paste it over.

This issue is for the acquisition system.

[2021-07-07 13:25] stephenholleran commented on #88
From @kersting in https://github.com/IEA-Task-43/digital_wra_data_standard/issues/89#issuecomment-875009411

@stephenholleran Here is an example for the NRG T60. You can see the accuracy row on the bottom (same as uncertainty). To convert that to uncertainty in energy there is some math that it is necessary but the bottom line is that this is the input for that IEC calculation.

![image](https://u

[2021-07-07 13:40] stephenholleran commented on #88
@kersting I think I see two things here.

1. Fair enough that a sensor has an uncertainty/accuracy. My question is then how can we incorporate this given we already have uncertainties under calibration. Would having another uncertainty in the sensor table be confusing? Would it be reasonable to say that the NRG T60 sensor has been calibrated and the uncertainty would end up in the `calibration_unc

[2021-07-07 15:03] kersting commented on #88
@stephenholleran Your proposal of using the current calibration tables would work except that I'm not sure what to do with the reference_bin field. Probably we'd leave it blank. We'd need to add some instructions. Most of the fields for anemometer calibration don't apply to temperature, pressure, and RH uncertainty.

For the classification, it would be anemometer classification, so it would be in

[2021-07-07 15:07] kersting commented on #87
@stephenholleran I agree your statement about `hardware_version`

[2021-07-26 14:07] stephenholleran commented on #77
**Meeting 22-Jul-2021**

- Deviation (difference between reference and test item) uncertainty is the one that is used in the IEC power curve test. **Action** @stephenholleran: update to description in the WRA Data Model. Call it `combined_uncertainty`.
- Reviewed the data table and how the uncertainties are recorded. **Action**  @heikowestermann Send email and Slack msg to outline the direction we

[2021-08-12 12:54] heikowestermann opened #100 "[DCC] How to handle complex units"
Currently the unit of a `quantity` is a required field. unit is an enum inherited from the WRA schema. While the enum captures most cases, I have run into the problem that the unit of the slope of a calibration result can be in the form "m*s^-1 / Hz". There are a few ways to handle this:

    1. make the unit field optional
    2. add necessary units to the enum (formally correct in my opinion, bu

[2021-08-16 12:56] heikowestermann opened #101 "[DCC] Add 'additional data' table"
Currently only the calibration result table with the reference, test item und deviation columns are valid. I would like to propose the ability to have a 'additional data' table which can contain arbitrary data/columns.
The first example that comes to mind is support for ultrasonic anemometers with multiple outputs (UVW/XYZ, v_hor/v_vert).
Possible solutions would be to allow arbitrary columns insi

[2021-08-16 17:28] kersting commented on #101
@heikowestermann could you please provide an example with the calibration certificate?

[2021-08-16 18:14] kersting commented on #100
@heikowestermann I would go with 2 knowing that is more complicated because I'm aware of old calibration certificates (non measnet) that the calibrations are provided in miles per hour and I think also in knots. Also, we don't need to add all possible units but only those that are relevant to the calibration certificate parameters.

[2021-08-17 06:26] heikowestermann commented on #101
@kersting you mean an example of a solution or a pdf of a certificate for an ultrasonic anemometer?

[2021-08-17 19:00] kersting commented on #101
@heikowestermann a pdf (even if the data is fake).

[2021-08-20 12:24] heikowestermann commented on #101
[additional_data_example.pdf](https://github.com/IEA-Task-43/digital_wra_data_standard/files/7021376/additional_data_example.pdf)

This is a newer example for a MEASNET calibration for an XYZ/UVW ultrasonic sensor. In this example, the additional data has it's own table on the second page. In older certificates we added the additional data to the result table.

[2021-08-20 17:03] kersting commented on #101
@heikowestermann thanks for the sample. I am fine including but not as required field since those results are not used directly in the analysis.

[2021-09-02 14:49] stephenholleran opened #102 "[schema] update calibration uncertainty to combined_uncertainty"
From discussions of this meeting:
https://github.com/IEA-Task-43/digital_wra_data_standard/issues/77#issuecomment-886735095

[2021-09-02 14:53] stephenholleran opened #103 "[schema] in calibration add revision"
From discussions of this meeting:
https://github.com/IEA-Task-43/digital_wra_data_standard/issues/77#issuecomment-886735095

[2021-09-16 15:33] stephenholleran commented on #54
Decided to close.

[2021-09-16 15:33] #54 closed

[2021-09-16 16:11] stephenholleran commented on #77
**16-Sep-2021**
HW, SH, GK, MP, TA

Seems like I lost my notes from 2 weeks ago. The actions from that meeting were to invite all the calibration facilities to agree a version 1 during this meeting.

No other calibration facilities turned up so we agreed to release the version 1. As the digita_calibration_certificate is part of the WRA Data Model we decided to promote the whole repo to a version 1

[2021-09-16 17:44] kersting commented on #77
@stephenholleran and @heikowestermann I think that this release is worth it a big release in different platforms (slack, LinkedIn, etc).

[2021-09-28 08:10] agrangaraj opened #104 "Additional Field in Level 1.1 Mast Properties"
We can include  following attributes in Level 1.1 of WRA data model

1. Mast_geometry_id : We can include non standard type WRA mast. For example if measurement taken from Telephone / Transmission tower eventhough it is lattice type these type of mast may impact the measurement result so the user need to account more uncertainity while carrying out data analysis. Similarly other possible options w

[2021-09-28 08:17] agrangaraj opened #105 "Additional non analysis Field in Level1.3 Logger Main Config"
The following fields may not directly impact calculation but can we consider to include the following fields as an optional additional static details fields so that WRA data model can be used for both data analysis and to know the various static information about WRA project.

1. Logger OEM id: Nomad, Kintech, Ammonit, NRG etc.,
2. Datalogger configuration home page url
3. User name
4. Password
5.

[2021-09-28 08:21] agrangaraj opened #106 "Additional Fields in Measurement Point Level."
We can include following attributes in Level 1.4 of WRA data model

1. Measurement type: Rain (true or False), u, v, w, Sound (db), if we desired to expand this WRA model to wind power level we can consider to include Cumulative Energy, Daily Energy, Phase angle, Battery Power,
2. Sensor_config->Measurement Unit id: km/hr, knot/s, mV, Whr, degree

The following field may not directly impact calcul

[2021-09-28 22:36] kersting commented on #106
@agrangaraj thanks for sending these over. Here are my comments.

Measurement type

- Rain: I'm not very familiar with noise assessment but I believe rain gauges are used for noise assessment. Is that correct?
- u, v, and w: These may be helpful if one is working with vector averaging.
- Regarding the additional parameters that you mentioned I'm not familiar with them.

Sensor config

@stephenholl

[2021-09-29 16:08] abohara commented on #104
Thanks @agrangaraj

Please refer to this [sql file](https://github.com/IEA-Task-43/digital_wra_data_standard/blob/master/tools/iea43_wra_data_model_postgresql.sql) in the tools directory on implementing the schema locally.

1. The standard `Mast_geometry_id` that are available in the default list are "lattice_triangle", "lattice_square_round_edges", "lattice_square_sharp_edges", "pole" . [Doc](htt

[2021-09-29 16:27] abohara commented on #105
Hi @agrangaraj

Please see [sql file](https://github.com/IEA-Task-43/digital_wra_data_standard/blob/master/tools/iea43_wra_data_model_postgresql.sql) for the logger OEM id.

A lot of the details here seem useful for the data manager monitoring a measurement station but not necessarily for a resource assessment. However, these are fields that could be added to a local deployment in the [`logger_con

[2021-09-29 16:43] kersting commented on #104
@agrangaraj and @abohara `Mast material` is not accounted per the IEC standard. On the other hand, the shape of the tower is captured by the standard. Therefore I don't think we should include the material but any other geometries that depart from the specifications in the IEC standard.

[2021-09-30 10:22] #96 closed

[2021-09-30 14:31] stephenholleran opened #109 "[schema] remove requirement for logger_model_name"
@abohara @kersting

In `logger_main_config` the required fields are:
[code]
In the SQL insert statements the `logger_model_name` is not required. I want to fix this inconsistency and make `logger_model_name` not a required field in the schema?

Thoughts?

[2021-09-30 15:01] stephenholleran commented on #105
Hi @agrangaraj,

I agree with @abohara that these are all very useful for the management of the mast but are not useful when assessing the data.

"_Logger OEM id: Nomad, Kintech, Ammonit, NRG etc.,_" is captured already.

Username, password, SIM card IMEI number, Mobile Number, Static IP address are all fields that you wouldn't want to be sending around from one organisation to another. We previou

[2021-09-30 15:56] stephenholleran commented on #77
**30-Sep-2021**
HW, SH, GK, MP

1. Review SOH comments.
   - Most of their comments in the email were accepted.
   - `Mounting arrangement` as a string? Using a string might be problematic to future IEC recommendations on using multiple ultra-sonic sensors to derive a single wind speed. We think it should be a numeric however @heikowestermann **will create an issue and ask SOH to explain a bit mor

[2021-09-30 16:11] stephenholleran opened #111 "Update the demo json to match v1 of the schema"
Update `iea43_wra_data_model.json` to match version 1 release.

[2021-09-30 16:15] #53 closed

[2021-09-30 16:16] #102 closed

[2021-09-30 23:51] kersting commented on #109
@stephenholleran I have no objections and I see no compromise in leaving that field blank.

[2021-10-01 09:42] heikowestermann opened #113 "[DCC] mounting_orientation: change type to string?"
It was suggested to change the type of `mounting_orientation` from `quantity` (a numeric) to a `string`.

A few thoughts from me: Having a numeric has the benefit of beeing easily digestable by code. On the other hand a string might allow for a more free description of the setup.
My original idea was to have the yaw orientation of the anemometer during calibration, as this is an influence paramete

[2021-10-01 15:39] kersting commented on #113
@heikowestermann I also support to keep it as numerical. I can see the IEC standard moving in a direction in which the directional dependency of the sonic becomes part of the standard. In that case having a numerical that we can write code to extract that number becomes very important.

[2021-10-01 17:08] #103 closed

[2021-10-01 17:38] stephenholleran commented on #88
@kersting sorry, digging this up again.

If we stick with what we have already and use the `uncertainty` under `calibration_uncertainty`, the `reference_bin` can already be left blank or null.

If we have a field for `uncertainty` in the `calibration` table how could we distinguish this from the `calibration_uncertainty` table?

I would like to use what we have if we can as I think it would be les

[2021-10-01 17:46] stephenholleran commented on #100
@heikowestermann @kersting

I would be inclined to go with 2 as well and try and capture as many as we can.
We could also do 3 as well so a user isn't blocked if we haven't captured the particular one they are looking for?

[2021-10-01 19:01] kersting commented on #88
@stephenholleran temperature sensors are not calibrated as anemometers in general but the sensor manufactures go through a process of estimating the accuracy of the sensors and provide a range of accuracy. This is where the IEC standard falls short because it does not make it clear that calibration uncertainty means the uncertainty reported by the manufacture. I'm sure someone could perform a cali

[2021-10-04 06:32] SFO-SOH commented on #113
@stephenholleran @heikowestermann The reason I suggested a string is that simply stating a quantity like "30 degrees" does not seem to be enough to clarify the setup orientation - e.g. for a (direction sensitive) cup anemometer without a north marker,
For a sensor with a north marker like a 3D sonic, a quantity might be adequate, although I can't rule out, that a quantity without an elaboration /

[2021-10-05 18:02] stephenholleran commented on #113
@SFO-SOH I was under the impression that the orientation would be referenced as the angle of attack from the wind direction in the wind tunnel. But you are saying there are other reference points?

If these reference points/lines can be defined could we do something like what we we do in the WRA Data Model i.e. we have an `orientation_reference` that is an enum with options magnetic_north, true_no

[2021-10-06 07:20] SFO-SOH commented on #113
@stephenholleran: I think it would be fair to define the mounting yaw orientation as: "The angle from the anemometer north marker to the upwind direction as measured clockwise when seen from above". If this is a fixed definition, a quantity will be adequate for sensors with a north marker. In this case, I think the definition should go in the json-schema file.

My primary concern is for anemometer

[2021-10-07 15:13] stephenholleran opened #117 "Meeting Notes"
This is a place where we will keep none-technical meeting notes from our bi-weekly calls.

Technical meeting notes will have an issue for each one.

[2021-10-11 17:55] stephenholleran commented on #113
@SFO-SOH
I think your definition is very good and I would be in favour of updating what we have with that.

If an instrument is not directional sensitive then I would suggest that `mounting_arrangement` just isn't present. We can also include that advice in the description.

For the "Cable downstream" example and even for the "Not relevant" situation; there is the `notes` as part of this section w

[2021-10-12 13:10] SFO-SOH commented on #113
@stephenholleran : This sounds good to me!

[2021-10-13 14:32] stephenholleran commented on #104
Regarding

@agrangaraj could you shed some light on what would the benefit of knowing this be? How would it be used? Thanks.

[2021-10-14 16:11] stephenholleran commented on #77
**14-Oct-2021**
SH, GK, AB

DCC
1. It was decided that the conversation in #113 satisfies the issues raised by SOH. **Actions: @heikowestermann to update based on that and also from the other already agreed issues raised by SOH.**

WRA Data Model issues

2. 'Mast_geometery_id' @agrangaraj could you provide an example for a hybrid structure in the issue #104?
3. 'Number of levels' we don't think th

[2021-10-21 09:45] heikowestermann commented on #100
I was ready to add the missing units, but noticed that we might some room for discussions. Below is my proposed list of units for the enum. I removed the following units, as they are not applicable for an anemometer calibration: ```W/m^2, m/s^2, lux, dB```

Current
-------

- "m/s"
- "deg"
- "deg_C"
- "deg_F"
- "K"
- "%"
- "mbar"
- "hPa"
- "V"
- "mA"
- "ohm"
- "Hz"
- "mm"
- "W/m^2"
- "m/s^2"
- "lu

[2021-10-21 14:01] stephenholleran commented on #113
Sounds good to me.

Could we still be more specific if the test item is not directionally sensitive as opposed to just assuming that you only need to use this "if the test item is directionally sensitive"?

Slight mod:
`
The yaw orientation/direction of the test item during calibration if the test item is directional**ly** sensitive. The angle is defined as the angle from the test item north marke

[2021-10-22 13:04] stephenholleran opened #118 "[Schema] flidar is a trademark and so cannot be used"

[2021-10-29 08:08] NikoSimisiroglou opened #119 "Explicit coordinate system, usage of EPSG code"
Hi,

This is my first post, so firstly I would like to thank you for all this wonderful work you have done putting together this database, it is really impressive and well thought through. Now to the topic at hand and the reason for this post, I will advocate for the usage of an explicit unique identifier for the coordinate system and to log that in the database as opposed to the current descripti

[2021-10-30 04:30] agrangaraj commented on #104
OK can we  mention as a point in the documentation of the datamodel? so that user can get an idea to include such information, if they wish.

[2021-11-11 17:06] stephenholleran commented on #77
**11-Nov-2021**
SH, HW, MP

Updates:

1. Task 43 Fall meeting was on last week and this. Lots of discussions about what each package is doing, how to work together and what the overall task is to deliver. The org committee are pulling the feedback together to produce tasks for the last year of the project. December 10th for reporting back. May reach out before then with surveys.
2. Still no sign o

[2021-11-11 18:42] stephenholleran commented on #119
Hi @NikoSimisiroglou,

Thanks for post.
We had a chat in our biweekly call today and agree that this is something we can be more explicit about.

At the start of developing this we decided that trying to account for all the coordinate systems out there was too much for us so we decided to limit it to Lat, Long values that GPS uses. By limiting it we don't really need an attribute to contain it as

[2021-11-16 19:07] NikoSimisiroglou commented on #119
Hi @stephenholleran

Thank you for your reply and consideration of my post.

Starting from your question: Usually when referring WGS84 people tend to mean the Geographic Coordinate System (GCS) and not the datum, spheroid or something else. This coordinate system has a unique identifier or WKID. The Well-Known ID (WKID) is a unique number assigned to a coordinate system, if the authority is EPSG t

[2021-11-22 18:37] stephenholleran commented on #117
_SH: The below meeting notes were recorded by JF but in the DCC meeting notes. Just copying here to keep the core bi-weekly meeting notes in the one thread._

# 18-Nov-2021
JF, MP, GK, ID, AB

Welcome Isabel Drews, Wind Resource Analyst, Transalta

* Biotech background
* Strong interest in sustainability
* Trained in resource assessment
* Learning about wind project development process
* Working o

[2021-12-02 13:45] kersting commented on #88
@stephenholleran I agree that moving towards a tool that is independent of the data model is the way to go. However, we still need to store the information about the classification in the data model. Given that a sensor can have multiple classifications (both from different standards and from different terrain complexities), we should have one property that associates the standard to the classific

[2021-12-02 14:43] stephenholleran opened #120 "Task 43 WindIO - link at the plant level"
Task 37 produced a YAML data model for a wind plant and turbine. https://github.com/IEAWindTask37/windIO

It would be interesting to link into this project at the "plant" level so organizations that implement the data model as a database internally can link a measurement location to be part of a plant.

Not for version 1. See meeting notes:
https://github.com/IEA-Task-43/digital_wra_data_standard/

[2021-12-02 16:19] stephenholleran commented on #104
Hi @agrangaraj,

Unfortunately we are not able to update the description of the notes for each specific property as notes is a common definition. So I have added to the description of the `mast_properties` and `mast_section_geometry` and allowed a user to add additional properties such as material. This should hopefully be ok for you?

See pull request #122

[2021-12-02 18:10] stephenholleran commented on #117
# 2-Dec-2021
SH, NS, GK, ID, JF

Niko introduced himself. PhD in meteorology (actuator disc), WindSIM and Vattenfall. Currently at RWE.

**Blog progress:**
1. Amit update: **Wasn't able to attend.** Will give update Monday.

**Workshop:**
1. Agenda: https://docs.google.com/document/d/1loglQBoMuSyL85iqRSVI32Wyp8SfuPEPJIgWykgBh1o/edit
   1. Use cases are valuable to explain how to use it and the val

[2021-12-02 19:26] #118 closed

[2021-12-06 17:21] abohara commented on #51
@stephenholleran Did we invite @ClaidheamhAthair ? We can close this otherwise ?

[2021-12-06 18:48] #51 closed

[2021-12-08 14:48] #104 closed

[2021-12-08 14:48] stephenholleran commented on #113
@heikowestermann any luck with creating a pull request for the DCC?

[2021-12-08 14:52] heikowestermann commented on #113
@stephenholleran the missing piece was the updated screenshots of the schema and I figured out the problem. I will create the pull request tomorrow before the meeting!

[2021-12-08 15:42] stephenholleran commented on #105
In the new version (if approved), additional properties can now be added to a `logger_main_config`.

Example below where the properties 'username' and 'password' is added:

[code]

[2021-12-08 16:46] stephenholleran commented on #106
As discussed in the meeting on 14th oct 2021 https://github.com/IEA-Task-43/digital_wra_data_standard/issues/77#issuecomment-943505382 we decided to incorporate u, v and w vector components.

`Precipitation` is already available to cover `rain`. If a true/false is required, this measurement type can still be used as the values and units are independent from the measurement type. Or the 'status' ty

[2021-12-08 17:15] stephenholleran commented on #106
Regarding measurement units, a lot of the ones suggested will be covered by @heikowestermann based on his https://github.com/IEA-Task-43/digital_wra_data_standard/issues/100#issuecomment-948440244
Others already exist such as 'kWh' to cover 'Whr', 'deg' to cover 'degrees'.
I am not sure of the usefulness of 'mV'. @agrangaraj if you could explain that would be great.

[2021-12-08 17:22] stephenholleran commented on #111
- [ ] include new released version number

[2021-12-09 09:46] kersting commented on #106
@agrangaraj could you please given an example on how is cumulative energy used in resource assessment?

[2021-12-09 10:00] stephenholleran commented on #106
I'm sure it isn't used in a resource assessment but it might be useful depending on what is been tracked by a small turbine or solar panels charging the battery. If these are charging a lidar they could be big enough and they may have cumulative energy. I don't see the harm in adding it but I do realise that I may open the flood gates.

[2021-12-09 11:13] kersting commented on #106
My view is that as long as it has an application in resource assessment, it should be added otherwise not because it opens the door to add anything else and we will end up with an oversized model that is not appealing for new adopters. If a logger's battery is charged with a turbine that logs cumulative energy then I see it as useful.

I asked for an example to try to understand why this would be

[2021-12-09 12:43] #113 closed

[2021-12-09 17:07] stephenholleran commented on #77
# 9-Dec-2021

SH, HW

**DCC:**

1. Pull request? **Went through a bit of the pull request. More to do. We will try and do this remotely so we don't need the call on the 23rd.**

**WRA Data Model:**

1. Pull request for 'logger_main_config' #105, allow additional properties.
2. Pull request for meas_types #106, u, v, w and cumulative_energy.
3. New field for WKID (Well Known ID) to better define th

[2021-12-09 17:08] stephenholleran commented on #88
Resulting from our call https://github.com/IEA-Task-43/digital_wra_data_standard/issues/77#issuecomment-990046659

Actions:
 - [ ] @heikowestermann to look into what info we want to store and how it can be structure.
 - [ ] @stephenholleran to add 'classification' to the schema.

[2021-12-09 17:46] stephenholleran commented on #117
# DRAFT Agenda

# 16-Dec-2021

SH, .........

**Blog progress:**

**Workshop:**

**AOB:**
1. Anyone know anything about [GitHub Discussions](https://github.com/IEA-Task-43/digital_wra_data_standard/discussions/landing) area?

[2021-12-09 17:53] stephenholleran commented on #119
Hi @NikoSimisiroglou,

We had a discussion about the use of a new WKID https://github.com/IEA-Task-43/digital_wra_data_standard/issues/77#issuecomment-990046659

Basically having a WKID property means that the user can set their own coordinate system which is what we want to avoid, for now. I'll update the description and send you a pull request. I hope this is somewhat satisfactory for you?

Than

[2021-12-09 18:12] stephenholleran commented on #119
@NikoSimisiroglou seems like I can't make you a reviewer on the pull request. Can you just check what I have done and let me know you are happy and then I'll merge it. Thanks.

#126 update lat long description

[2021-12-09 21:23] stephenholleran commented on #88
P.S. Do we need 2 decimal places?

[2021-12-10 09:50] heikowestermann commented on #88
We have both in the wild (1 and 2 digits). To be flexible, I would suggest to allow arbitrary digits: ```[0-9][.][0-9]+[ABCDS]```

[2021-12-10 10:06] stephenholleran commented on #88
Instead of allowing lots of decimals we can limit to just 2. And allow 2 digits to the left of the decimal too.
This `([0-9]{1,2})[.]([0-9]{1,2})[ABCDS]` allows `10.95B`, `1.2A`, `10.3C`, `2.45D` but restricts `123.123X`.

[2021-12-11 01:24] abohara commented on #106
If we are going to have cumulative energy, we would need to be more descriptive e.g. cumulative from start of life or specific date, or cumulative daily or monthly. That said, I agree with @kersting  I can't recall a usecase where this has a direct bearing on WRA (though common in SCADA systems). It is far enough removed that perhaps the user can modify a local deployment to add this as a custom f

[2021-12-16 14:54] #119 closed

[2021-12-16 14:56] #105 closed

[2021-12-16 15:02] stephenholleran commented on #106
Fair points. I have removed it.

[2021-12-16 18:03] Dynorat opened #130 "modify readme to add sections for meeting notes and presentations"
Add hyoerlinks for meeting notes and list of presentations on main readme

[2021-12-16 20:27] #106 closed

[2021-12-16 23:46] Dynorat opened #132 "update presentation section on wiki"
Need to upload/link latest presentations on the WRA data model.

e.g. WRAG presentation, WIndEurope, etc.

https://github.com/IEA-Task-43/digital_wra_data_standard/wiki/Presentations

[2021-12-17 12:48] #89 closed

[2021-12-17 19:52] #130 closed

[2021-12-23 14:13] stephenholleran commented on #88
Actions:
 - [ ] @heikowestermann to look into what info we want to store and how it can be structure.
 - [x] @stephenholleran to add 'classification' to the schema.

After this investigate the possibility of a tool to work out the classification.

[2021-12-23 15:01] stephenholleran commented on #77
@heikowestermann @kersting @sdsmdp @abohara @Dynorat @SFO-SOH @ponce10
The digital calibration certificate branch is now merged into the dev branch. See pull request #125.

Thanks very much for everyone's contribution and especially @heikowestermann for driving this forward!

I will close these DCC meeting notes. Our usual Thursday technical call will move onto the next topic where we will have a

[2021-12-23 15:01] #77 closed

[2021-12-23 15:20] stephenholleran commented on #117
These meeting notes are to continue in the Discussion area of GitHub https://github.com/IEA-Task-43/digital_wra_data_standard/discussions/129#discussion-3748501

![image](https://user-images.githubusercontent.com/25622575/147260040-23c1776e-371b-4970-be68-088927b3d8ef.png)

[2021-12-23 15:20] #117 closed

[2021-12-23 15:39] #111 closed

[2022-01-10 14:48] heikowestermann commented on #100
The above units were inverted, see #137

[2022-01-13 02:57] dave-c-vt opened #138 "sample data references sensor_config table, which does not exist in schema"
[code]
https://github.com/IEA-Task-43/digital_wra_data_standard/blob/master/demo_data/iea43_wra_data_model_demo_data.sql#L71

/tools/iea43_wra_data_model_postgresql.sql has no table called "sensor_config"

it appears line 71 of the demo_data file should be updated to insert into `logger_measurement_config`, see:

[iea43_wra_data_model_postgresql.sql](https://github.com/IEA-Task-43/digital_wra_data

[2022-01-13 16:03] stephenholleran commented on #138
Hi @dave-c-vt,

You are absolutely right. This demo SQL insert file is not really complete as it was too tedious to fully match the demo JSON file. I was going to write some code to read the JSON and automatically create the SQL insert statements but obviously I never got around to it. As a result I didn't put much attention into keeping this up to date with the schema.

I see you made the changes

[2022-01-13 16:03] #138 closed

[2022-01-19 15:28] heikowestermann opened #147 "[DCC] add version key to schema"
Currently we don't have a way to identify the schema (version) a dataset is implementing. We should add a key with possibly fixed strings in an enum to the dcc schema. How is this done in the WRA schema?

[2022-01-19 15:38] stephenholleran commented on #147
@heikowestermann good idea.
We do this in the WRA Data Model

[code]

[2022-01-19 15:58] heikowestermann commented on #147
Great, thanks Steven! I will add this for the next release. Also I think we need to change the project name, since v1 is already out 😄

[2022-02-04 12:56] stephenholleran opened #150 "[DataBase] introduce a mapping table between meas_point and logger_meas_config"
I think we need to introduce a mapping table between `meas_point` and `logger_meas_config` tables, similar to the mapping table between `meas_point` and `sensor`. This has no impact on the schema or the resulting JSON file.

**Reason:** A lidar's platform height can change over time (and therefore the `device_datum_plane_height_m` in the `vertical_profiler_properties` table) which changes the heig

[2022-02-10 18:29] abohara commented on #150
@stephenholleran @kersting When the lidar data reports a measurement (for e.g. `wspd_60m_avg`), is this meant to be from the device plane or from the ground ? Would this vary between OEM / model devices ? Could it change with firmware ? In mast the programmed height is mostly for reporting , so if there is a disagreement the `meas_point` table height could take precedence. In lidar, I do wonder if

[2022-02-11 13:23] stephenholleran commented on #150
Hi @abohara,

It depends on the lidar :(

Yes

Yes. As in the case of the WindCube firmware version 2.1 (something) for the WindCube 2.1 they unfortunately introduced a height offset which then changes the heights reported in the logger file. The unfortunate thing is that they did not **add** these new reporting measurements but **replaced** the old ones. So now we are in a situation when the lida

[2022-02-17 17:39] abohara commented on #150
@stephenholleran So we should add `device-datum` as a reference height option since that seems like a distinct possibility and seems a more natural way to resolve this. Essentially, it is a 1m change in the wind speed measurement height (rel. to ground) and should be a separate measurement point per the current WRA architecture. It can all be converted eventually to the `ground_height` during post

[2022-02-28 17:12] kersting opened #151 "Missing tube length both in the data model and in the digital calibration certificate"
The IEC 61400-12-2 requires the length of the tube used during the anemometer calibration to verify whether if the installation of the anemometer is in line with the guideline's requirements. As a result, that piece of information needs to be added both in the data model and in the digital calibration certificate.

[2022-03-04 14:55] kersting opened #152 "[IEC validation requirements] Section height vs height of braces"
Looking at several met tower drawings, it was evident that it is an industry standard to show the height of the section instead of the height of the braces. One can derive the height of the braces by counting the number of braces and with the height of the section. The height of the braces actually many times is not provided in drawings. Perhaps we should get rid off the height of braces all toget

[2022-03-08 17:33] kersting opened #153 "Sensor uncertainty in sensor table"
Some sensors have standard uncertainties associated to them. For example, pressure, temperature, and RH sensors used in power performance have set uncertainties that come from the sensor specifications. If one wants to perform a power performance test and use the data model as basis those fields should be available. In addition, those fields have a k factor and bins associated to them. Currently t

[2022-03-10 17:56] kersting opened #154 "[IEC validation requirements] Area of additional members in mast section geometry"
Some towers have additional members such as feet that need to be taken into consideration for calculating solidity for IEC 61400-12. The influence of those members should be small so I'm not sure we should go into the trouble but by the book those should be included. If we decide it is relevant, we should probably add the are of additional members into the model.

[2022-03-10 18:48] stephenholleran commented on #151
@heikowestermann what do you think we could do here? It seems like we should be including it.

[2022-03-11 11:20] heikowestermann commented on #151
Until now my checklist was the IEC 61400-12-1, but I am happy to extend the schema to the 12-2. I already discussed with @kersting that we could add that information. Having said that, I don't know how many calibration labs have that information readily available as at least MEASNET is only based upon the 12-1. I would suggest making the information optional, as opposed to required to not hinder a

[2022-03-11 11:58] stephenholleran commented on #151
Sounds like a plan; add it but make it optional.

[2022-03-11 13:38] kersting commented on #151
@heikowestermann and @stephenholleran thanks for looking into this. Please let me know if I can help either modifying the model or reviewing the modifications.

[2022-03-11 16:50] stephenholleran commented on #153
Hi @kersting,

I think we can break this down into 3 parts/questions:

1. Do we care about temperature/pressure/RH uncertainty?
2. If we do, then I would lean towards simply using the calibration section to store these uncertainties. Though each instrument is not calibrated itself, the instrument model has been calibrated and so it is still a calibration.
3. Can the calibration uncertainty table c

[2022-03-11 17:18] kersting commented on #153
@stephenholleran thanks for the response. My answer to your questions.

1. If one is using the standard as the foundation to perform power performance analysis then the answer is yes. Those uncertainties are supposed to be captured in the IEC 61400-12. In addition, those uncertainties will be carried over to IEC 61400-15 still in draft version.
2. We could use the calibration uncertainty table. Th

[2022-03-15 14:44] heikowestermann commented on #153
As someone who works with uncertainties every day, I am always in favor of capturing more in a structured way. Having said that, I don't have a lot of experience how the "ambient" calibrations are used by analysts. I would propose talking this through in the next meeting on the 24th (if there is time).

[2022-03-18 10:19] kersting opened #155 "[IEC validation requirements] Sensor body size"
There is one IEC check that requires the diameter of the upstand to have lower diameter compared to the anemometer body. Currently anemometer body is not capture. I recommend to include the anemometer body size to the sensor table so IEC checks can be performed. I'm curious to hear what you think.

[2022-03-18 10:35] kersting opened #156 "[IEC validation requirements] Lighting finial diameter"
The IEC standard requires the lighting finial diameter to be 30 diameters away from the anemometer. I'd like to propose to include that information in the interference_structures table.

[2022-03-18 18:43] abohara commented on #152
@kersting Adding it makes sense. Don't think we need to subtract the existing field though (possibly put out a deprecation notice if needed)

[2022-03-18 18:54] abohara commented on #153
@kersting It makes sense and I think you have posted this previously. The IEC 61400-12 is a pretty frequent use case for mast data. The complexity I think is if this is a single variable (e.g. x %) then we can just a field to the the sensor table as an optional field (given that it is not always needed).  However, if it is more of a table then it is an issue (and maybe more than we want to underta

[2022-03-18 18:57] abohara commented on #154
@kersting If it is just adding one (optional) field I don't see much of an issue. However, it really does seem like an edge case , and a user can always add a field to the mast section geometry table locally. I could go either way with a slight lean for not doing it right away

[2022-03-18 19:01] abohara commented on #155
@kersting Could go either way. I do wonder if we take all our IEC checks ( sort of unrelated to core WRA) and make one technical discussion out of it. We could then compile all of it into a single push.

[2022-03-18 19:02] abohara commented on #156
@kersting Agree. Looks like we need to do an IEC variables check (seems like you are doing it) and one branch for all these changes.

[2022-03-23 16:26] stephenholleran commented on #156
@kersting I am assuming the information you want to include is the diameter of the lightning finial? And not the actual distance between it and the sensors as that could be worked out?

[2022-03-23 16:35] stephenholleran commented on #153
@kersting

That would be great so we know what we need to capture.

Action:
- [ ] @kersting (and everyone) to start collecting uncertainty tables for different sensors.

[2022-03-23 17:52] kersting commented on #154
@stephenholleran and @abohara thanks for looking into this. I came across this problem recently from a tower drawing that I received. The impact in the overall solidity will be small but I'm bringing this up that if one is doing this by the book (and everything done for PPTs should be done by the book because of contracts), we should then include this. I have a handful of additional issues open an

[2022-03-23 18:01] kersting commented on #153
I'll add a couple of examples one for RH and temperature and one for pressure coming from different manufactures. I'm not attaching any files. Instead of that I'll just provide links to the manufactures' websites.

https://www.vaisala.com/sites/default/files/documents/HMP155-Datasheet-B210752EN.pdf
https://www.nrgsystems.com/products/met-sensors/detail/bp60-barometric-pressure-sensor

[2022-03-23 18:08] kersting commented on #156
@stephenholleran and @abohara thanks for the feedback. Yes, we need the diameter of the lighting finial and not the distance. The IEC may decide to change the distance in the future as it happened for the distance between boom and cups. The diameter would survive regardless of the version of the standard.

@stephenholleran if you're fine with that, I can start tackling this one.

[2022-03-23 18:17] kersting commented on #155
@abohara this is exactly what I was thinking. I'm coming up with all these IEC related parts because we're tackling all these IEC requirements so they're popping up all together. I think it is a good idea to push them in bulk and discuss them together. I'm also OK if we keep exchanging messages here but it would be more effective to have a dedicated call to all these issues.

@stephenholleran this

[2022-03-23 18:38] stephenholleran commented on #154
@kersting are you able to share a screen shot of the particular section so we can understand what it looks like and how we could account for it?

[2022-03-23 18:44] stephenholleran commented on #153
@kersting
For the Vaisala HMP155 sensor, is what I have highlighted for the humidity what you want to capture?
![image](https://user-images.githubusercontent.com/25622575/159773083-24584a35-40c6-48f1-bff4-8f416f8e3397.png)

I am not sure what to capture for the temperature part?

[2022-03-23 18:52] stephenholleran commented on #155
@kersting ok, that makes good sense to include.

I would be inclined to keep the issues separate and simple but we can obviously discuss all of them on one call.

For this one; wouldn't the calibration facility need to be aware of this and so not break the requirement? Then all we need to check is that the anemometer is mounted on the same as that used during the calibration?

[2022-03-24 14:43] heikowestermann commented on #153
Usually uncertainty calculations will be made according to GUM, which expects that you have 'standard uncertainties'. If you use a traceable calibration, you will get an expanded uncertainty with a k-factor (mostly k=2). You can calculate the standard uncertainty then by dividing the given uncertainty with the k-factor. In case of the humidity probe, the datasheet gives a k-factor for _calibrated_

[2022-03-24 15:18] stephenholleran commented on #152
As discussed in our [meeting](https://github.com/IEA-Task-43/digital_wra_data_standard/discussions/129#discussioncomment-2333255), the following can be implemented:

[2022-03-24 17:24] stephenholleran commented on #151
From our discussion https://github.com/IEA-Task-43/digital_wra_data_standard/discussions/129#discussioncomment-2431888

[2022-03-24 17:25] stephenholleran commented on #155
From our meeting https://github.com/IEA-Task-43/digital_wra_data_standard/discussions/129#discussioncomment-2431888

[2022-03-24 21:35] kersting commented on #153
@heikowestermann I agree with everything that you wrote.

I'm suggesting for us to have a field to uncertainty and k factor in the sensor table. It is up to the user to read the specifications and know how to interpret the results and enter the k factor correctly or adjust it to a rectangular distribution when necessary. For me the underlying principle is that any sensor that measures something ha

[2022-03-25 15:32] kersting commented on #153
@stephenholleran it is fine that you have more than one uncertainty. We have that also for wind speed. The uncertainty for the wind speeds are valid for a given wind speed. Here we have the same thing. We would enter the uncertainties for the 2 ranges. What we would need is to have a field for lower bin and upper bin with multiple bins as a sensor may have varying uncertainty per bin as it is the

[2022-03-25 17:28] kersting commented on #152
@stephenholleran and @abohara I started working on this. The mast section piece is straightforward. This will be applicable both the a lattice and a tube tower. However, I'm having a hard time to name point 3.

If we report the number of repetitive lattice member heights, whoever wants to derive the height of the entire section will need to divide the number of repetitive lattice members by 2, oth

[2022-03-29 20:11] kersting commented on #156
@stephenholleran should I go ahead and include this in the example too or should I make a pull request for the modification in the schema first and then modify the example?

[2022-03-30 10:20] stephenholleran opened #157 "[SCHEMA] Improve lattice face width description"
The current description for `lattice_face_width_at_bottom_mm` and `lattice_face_width_at_top_mm` are:

There is confusion as to where this is measured from;
1. Outside of leg to outside of leg,
2. Inside of leg to inside of leg or
3. Centre of leg to centre of leg.

It is proposed to update these description to be more specific and in line with the IEC 61400-12-1_2017 definition as shown in their

[2022-03-30 11:13] stephenholleran commented on #154
Thanks for this @kersting. It gives context and shows what we are talking about.

These could also be called flanges or a base plate.

I don't know how we can capture this geometry as I'd say it could be very different between mast manufacturers. We would need the height and width and just assume it is a rectangular shape when projected onto a face.

The IEC didn't consider it in any of their draw

[2022-03-30 11:17] stephenholleran commented on #156
@kersting yes please update everything that this would impact.

This would include:
1. the schema file itself,
2. the database create SQL statements file, if any changes required (for this there would be),
3. the CHANGELOG and
4. the JSON example

[2022-03-30 11:23] stephenholleran commented on #153
If there are multiple ranges and uncertainties then I even strongly recommend that these all be captured in the `calibration` section and not in the `sensor`. There are lot of things that would need to be captured; ranges, different units for the range and the reference. I'm not sure how this will all look?

[2022-03-30 13:32] stephenholleran commented on #152
@kersting @abohara
What I have marked in the red box is what we are trying to count within a section of mast tower.

![image](https://user-images.githubusercontent.com/25622575/160824072-fca93066-2dec-447b-a4f9-810c229785c6.png)

The `number of repetitive lattice members` I imagined would count the members highlighted in the image below. The member going up to the left is a different member and so

[2022-03-31 14:36] stephenholleran opened #159 "[SCHEMA] expand for floating lidar"
This is an issue log to track the implementation of expanding the data model to accommodate floating lidar systems.

Please see notes in the discussion #148

[2022-04-04 17:30] kersting commented on #154
@stephenholleran Thanks for the feedback. In the example given I calculated the solidity with and without the additional members. The difference was 0.1570% vs 0.1497%. That translated into a Ct of 0.5826 vs 0.5600 and I simulated different boom sizes as multiple of face widths to get the wind speed deficit which is the final goal to determine the level of disturbance in the anemometers. We have t

[2022-04-04 17:34] kersting commented on #157
@stephenholleran and @abohara should we start using images in our descriptions as well as mentioned on this issue https://github.com/IEA-Task-43/digital_wra_data_standard/issues/152?

[2022-04-06 11:22] stephenholleran commented on #157
I am not too sure how. What we can do at least is add a URL to the description and hopefully that would render as a link in the documentation.

The next issue then is we would need a stable, permanent URL to be the link. Even this GitHub repo is possibly not stable enough as we may need to change the name of it. That then means using something like Zenodo to host it.

[2022-04-06 11:22] stephenholleran commented on #152
Go for it @kersting.

[2022-04-06 11:31] stephenholleran commented on #154
@kersting wrote:

I would go with not including it. If you do include an extra area to cover these flanges then we have the issue if the anemometer **_is not_** mounted at the same horizontal level as the flanges (which is most cases) this extra area shouldn't be included in the calculations.

[2022-04-07 17:39] kersting commented on #154
@stephenholleran thanks. @abohara could you please provide your feedback here?

[2022-04-15 00:22] kersting commented on #153
@heikowestermann What do you think on Stephen's proposal? I still think that we can add uncertainty range, uncertainty units, and reference to the sensor table.

[2022-04-20 14:21] heikowestermann commented on #153
@kersting @stephenholleran
I think that the best place for these uncertainties is the `calibration` object (the calibration uncertainties array), even if the given uncertainties do not necessarily come from a "per sensor" calibration, but from some kind of factory calibration. This would allow different sensors to be calibrated to a lower uncertainty, which would then replace the more broader fact

[2022-04-20 15:09] kersting commented on #153
@heikowestermann thanks for the feedback. In that case we just need to update the description in the calibration object that such table can handle also handle the the factory uncertainty and it can be used beyond wind speed and wind direction sensors but also pressure, temperature, and relative humidity. I can either take the task to modify the description or you can take it if you want.

[2022-04-20 15:28] heikowestermann commented on #153
@kersting I would prefer if you could take the lead, but I am happy to give feedback if necessary! I am currently also late on a few other tasks for the DCC schema, but I have to finish some other things first unfortunately.

[2022-04-21 10:17] kersting opened #164 "Missing units for legacy US projects"
Legacy projects in the US have several measurements using the US customary units (miles per hour, Fahrenheit, etc). Those need to be captured for loggers programmed on those units. I proposed to include some of those units that can be found in such legacy projects and I can be the one modifying the model.

@stephenholleran thoughts?

[2022-04-23 22:49] kersting commented on #153
@heikowestermann and @stephenholleran there is another problem that I would like to bring up and perhaps, I should open a new issue. There are uncertainties that are a linear function of an input (as in the example for the Vaisala sensor above. There are 2 approaches that we can take.

1. We can add the bins and inflection points and the user can perform a linear interpolation from bin to bin.
2.

[2022-04-24 09:34] heikowestermann commented on #153
@kersting @stephenholleran
I know that problem too well and have implemented both solutions in different projects. I would suggest going with option one with possibly two bins (start and end of operating range/uncertainty). With this, the interpolation is quite easy. This would also work for other calibrations (the interpolation between bins that is) and could therefore be a general suggestion on

[2022-04-25 10:36] kersting commented on #153
@heikowestermann thanks for the response. @heikowestermann and @stephenholleran if we go in that direction, then I think we need to have very good documentation and probably even use the Vaisala case as an example, We have in this sensor not only multiple bins but also bins that depend on 2 variables (temperature and pressure) for the case just below the highlighted in red https://github.com/IEA-T

[2022-04-25 20:49] kersting commented on #154
@abohara could you please take a look on the discussion? If you agree with Stephen, I'll close this with a comment.

[2022-04-26 09:04] heikowestermann commented on #153
@kersting Vaisala is a good example on how to do it right, but also shows the complexity that's possible. I think it's a good example. Should the documentation pick one 'uncertainty'/row for the expected ambient conditions or do you propose to include all rows? I think that one row is compatible with the current schema and is a reasonable simplification at least from my perspective.

[2022-04-26 12:12] stephenholleran opened #165 "[SCHEMA] Typo in measurement unit for density (kg/m^3)"
Measurement unit for density is incorrectly written as `kg/m^2` instead of `kg/m^3`.

Thanks to @niko of RWE for finding.

[2022-04-26 17:57] kersting commented on #153
@heikowestermann I was thinking about doing all rows for the accuracy (including non-linearity, etc). I think that example is also compatible with what we have. This is probably the high degree of complexity so it would cover the worst that we see out there. It would be smart to do this for an anemometer as well so users can see the difference. I can pick the task for the environmental sensors suc

[2022-04-27 06:44] heikowestermann commented on #100
the unit **(m/s)/(m/s)** is missing. It can be argued that the unit would then be **-**, but I think it's wise to add it to the list.

[2022-05-03 17:21] kersting opened #166 "uncertainty_k_factor for logger_main_config table"
The table logger_main_config has logger_acquisition_uncertainty but no uncertainty_k_factor. In order to get the logger_acquisition_uncertainty, correctly calculated, it is necessary to have also uncertainty_k_factor.

Anyone opposed to the idea? I can also tackle this one.

[2022-05-03 18:03] heikowestermann commented on #166
I agree. An alternative approach would be to define the k-factor and have it converted before entering the data model. I think it's best if this is done the same way in the whole model.

[2022-05-05 14:20] stephenholleran commented on #166
Sounds like a good thing to do.

@heikowestermann do you mean specify that the k factor should be 2 for example and then the uncertainty would be converted to be for a k factor of 2?

[2022-05-05 14:24] stephenholleran commented on #100
@heikowestermann go for it. What would be the use case for it or is it just to be complete?

[2022-05-05 14:37] stephenholleran commented on #153
@kersting @heikowestermann
Just to summarize:

1. Use the calibration section of the sensor to capture uncertainties, even factory uncertainties.
2. Record bins and not a function.
3. Capture all rows provided in OEM's specifications.

If I am following the conversation, this sounds good.

[2022-05-05 14:46] stephenholleran commented on #164
@kersting yep, something we should do. Even knots!

Maybe lets get a complete list to add here first and then implement them?

"mph"
"knots"

We have "deg_F" already.

[2022-05-05 15:08] stephenholleran commented on #156
@kersting just reviewing this now and had a thought. This is in an `interferance_structures` table which allows the user to select a lightning finial or aviation light or something else. Wouldn't the diameter of the aviation light be useful to have as well? To gauge how big the interference structure is?

Therefore, I would suggest adding `diameter_of_structure` or `diameter_of_interference_struct

[2022-05-05 18:23] kersting commented on #164
@stephenholleran besides the ones that you have mentioned, I have seen in Hg for pressure which leads us to mm Hg (which I haven't seen yet in resource assessment). We can add as well atm that is not present in the list. If you can think of anything else let me know otherwise I suggest to add the following.

mph, knots, in Hg, mm Hg, and atm.

If you give me the green light, I'll add that.

[2022-05-06 09:28] heikowestermann commented on #166
Correct. In my opinion, k=1 should be preferred as it is the value that is needed for further calculations. If nothing speaks against adding another key, it should be added as Gibson suggested, since there are already k_factor fields outside the dcc, if I remember correctly.

[2022-05-06 09:30] heikowestermann commented on #100
It's just to be complete, as I ran into the issue.

[2022-05-06 14:16] stephenholleran commented on #156
Hi @kersting,

I suppose the diameter of the aviation light doesn't have a direct impact. The wake from the aviation light on an anemometer would be filtered out by assessing how wide the effected sector would be by doing a ratio of speeds with the paired anemometer by direction. The diameter doesn't have a direct impact with that. By having an aviation diameter though could help inform how big of

[2022-05-06 14:20] stephenholleran commented on #164
I can't think of any others.
@abohara thoughts?

[2022-05-06 14:21] stephenholleran commented on #166
Thanks @heikowestermann.
I wouldn't be keen on conversions so I would let the user type in the k value that is given to them from the documentation.

[2022-05-06 14:23] stephenholleran commented on #100
Sounds good @heikowestermann. Go for it.

A consequence of this is that we will now have to add a version number to the DCC :) #147

[2022-05-10 16:20] kersting opened #168 "Splitting lattice_member_diameter_mm in 2"
@stephenholleran and @abohara I came across one tower that lattice_member_diameter_mm was different for diagonal and horizontal members. One is 18mm and the other one 30mm. I propose to split this variable in 2. lattice_member_diameter_horizontal_mm and lattice_member_diameter_diagonal_mm. Thoughts?

[2022-05-10 16:34] abohara commented on #168
Thanks @kersting . Sounds like a good suggestion. Assuming we are leaving `lattice_member_diameter_mm` as is for now.

[2022-05-10 16:42] kersting commented on #168
@abohara are you suggesting having all 3 `lattice_member_diameter_mm`, `lattice_member_diameter_horizontal_mm`, and `lattice_member_diameter_diagonal_mm`- or keeping `lattice_member_diameter_mm` and only replace with the other 2 when we agree and push the new code?

[2022-05-10 16:52] abohara commented on #168
@kersting . My is to add the two new fields (if required) and add a deprecation notice `lattice_member_diameter_mm` to notify that this field will be dropped in the next major release. That way it does not break immediately any applications that are dependent on it, but allows use of the two new fields. What do you think ?

[2022-05-10 16:57] abohara commented on #164
@kersting @stephenholleran  I don't have any more to add but would support keeping this list open to keep an open thread to track it.

[2022-05-10 20:25] kersting commented on #164
@abohara and @stephenholleran I made a commit to dev with the modifications. Thanks.

[2022-05-11 11:01] kersting commented on #168
@abohara thanks. That is fine for me. @stephenholleran what do you think?

[2022-05-12 15:09] stephenholleran commented on #168
@kersting
ok, sounds like we need it.
Don't forget to create a branch off the `dev` branch and call it something like "iss_168_lattice_member".

I agree completely with @abohara on how to implement it. The depreciation notice can go in the 'description' of the old one. Maybe in CAPITALS at the start so it is noticed. We should then create an issue to remember to depreciate it in the future.

[2022-05-12 15:18] stephenholleran commented on #164
Hi @kersting,

Please don't commit directly into dev. Each issue should be reviewed as a pull request from a branch into dev. That way when we are doing a release from dev to master there is no real review as they were all done for each issue. Commiting into dev means that several different issue end up getting reviewed all at the same time which make it difficult.

I'll take a look at these now.

[2022-05-12 16:58] stephenholleran commented on #156
@kersting I expanded on the description. See commit [2f5f60f](https://github.com/IEA-Task-43/digital_wra_data_standard/commit/2f5f60ffc06feb11cb0dc6235a2b1c22efe81c39),  just above, to make sure you are happy with it.

[2022-05-12 17:45] stephenholleran commented on #152
@kersting I have expanded on the description of `lattice_number_of_diagonal_bracing_members` to include the new 'repetitive_pattern' attribute as I noticed you increased that from 2 to 8. See commit [5383122](https://github.com/IEA-Task-43/digital_wra_data_standard/commit/53831224c5ec24635dac93366c2604d7c15fa061).

"The number of lattice diagonal bracing members **that are contained in one of the

[2022-05-12 18:41] stephenholleran commented on #165
This is completed.

Renaming this as a reminder to depreciate the incorrect unit.

[2022-05-13 02:01] kersting opened #170 "Including additional information about diagonal braces in mast_section_geometry"
@stephenholleran and @abohara Some towers have very different patterns for the diagonal braces. Currently the data model lacks one more piece of information to calculate the solidity. There are 2 possible paths that I can see and maybe even more.

1. Add the length of the diagonal braces.
2. Add information about 2 angles of the braces in one of the patterns.

The first solution seems much simpler

[2022-05-13 10:00] kersting commented on #152
@stephenholleran thanks for updating that. Should we close this issue? I opened a new one that may have a bit of overlap with this one but I do see them as independent.

https://github.com/IEA-Task-43/digital_wra_data_standard/issues/170

[2022-05-13 11:08] kersting opened #171 "lattice_bracing_member_diameter_mm decimal in sql"
lattice_bracing_member_diameter_mm has the incorrect data type in sql. It should be integer.

[2022-05-13 16:39] stephenholleran commented on #152
Yep, lets close this.

[2022-05-13 16:39] #152 closed

[2022-05-13 16:47] stephenholleran commented on #171
@kersting I'm not sure if we need to change it to an integer. See other variables that are in this table have decimal. Even the face width which could be argued to be even less likely to be a decimal compared to a member diameter. I'd be inclined to leave it as a decimal as it puts less restriction on users. @abohara thoughts?

![image](https://user-images.githubusercontent.com/25622575/168329473-

[2022-05-14 15:29] abohara commented on #170
@kersting  I am not familiar with naming convention for the 3 patterns you have shown. If there is one, it would make sense to have that as a field (.e.g as `lattice_pattern`), so that the length of the diagonal member makes sense in that pattern context. I think it would be a little preferable then to adding in the angle information.

[2022-05-14 16:16] abohara commented on #171
Yes. I think it should remain a decimal since it technically does not have to be an integer. Something, like the number of members is an integer which seems appropriate.

[2022-05-16 13:28] kersting commented on #171
@abohara and @stephenholleran I was probably sleep deprived. I don't know what I had in mind to say that it had to be an integer, I got things mixed together. I'll close this.

[2022-05-16 13:28] #171 closed

[2022-05-17 18:15] kersting commented on #170
@abohara thanks for the feedback. I could not find any naming convention for lattice patterns. For an IEC calculation the pattern does not matter as long as we have the length and the diameter of the bracing members as well as the number of them. However, if one wants to build a system to show the pattern to the user using an UI such field that you're proposing would be useful.

@stephenholleran w

[2022-05-18 16:42] stephenholleran commented on #168
@kersting @abohara
I have merged this.

I will rename this issue to "[DEPRECIATION] remove 'lattice_member_diameter_mm'" and put it in the backlog as a reminder to remove this in the future.

[2022-05-18 16:46] stephenholleran commented on #156
@kersting are you happy with the above?
It is already merged into dev branch so no pull request to review. If you are happy just close this issue. Cheers.

[2022-05-18 16:48] stephenholleran commented on #170
I think I need to think about it more. :(

[2022-05-18 17:37] stephenholleran commented on #154
@abohara what do you think? I don't think the impact is big enough to consider.

[2022-05-18 17:38] #164 closed

[2022-05-19 06:20] abohara commented on #154
Sorry @kersting and @stephenholleran  for my delayed response. I agree with @stephenholleran .

[2022-05-19 06:25] abohara commented on #170
@kersting  Is adding `Add the length of the diagonal braces.` sufficient to calculate the solidity given the 3 use patterns ? If that is the case we can add it and close it.

[2022-05-19 06:26] abohara commented on #168
Thanks @stephenholleran

[2022-05-19 09:33] #154 closed

[2022-05-19 16:23] kersting commented on #170
@abohara and @stephenholleran yes, adding the length of the diagonal braces and using the variables that we already have is enough to calculate solidity according to IEC 61400-12.

If one takes case 3, the braces are overlapping; however, the overlapping has minimal impact. I created an example using case 3 with leg of 25mm, braces of 10mm, height of braces of 600mm and face width of 600mm (all va

[2022-05-19 17:33] kersting commented on #156
@stephenholleran it is good for me. Thanks for reviewing!

[2022-05-19 17:33] #156 closed

[2022-05-19 17:34] kersting commented on #157
@stephenholleran for me this is ready to be closed as well as we have the image and description in the json file.

[2022-05-19 21:13] kersting opened #174 "Adding number of horizontal bracing members to mast_section_geometry table"
We currently have the field `lattice_number_of_diagonal_bracing_members` that helps one to calculate solidity which is necessary to calculate Ct according to IEC 614000-12. I'd like to propose a similar field for the horizontal bracing members called 'lattice_number_of_horizontal_bracing_members'. The reason for that is that we have so far assumed that towers would only have 2 horizontal members i

[2022-05-19 21:47] kersting opened #175 "What is the difference between gill_propeller and propeller_anemometer?"
What is the difference between `gill_propeller` and `propeller_anemometer`? Aren't them redundant?

[2022-05-20 08:57] heikowestermann commented on #175
`gill_propeller` is a `propeller_anemometer` manufactured by R. M. Young (I never understood why they are not manufactured by Gill), so I think you are right @kersting.

[2022-05-20 12:16] kersting commented on #175
@heikowestermann thanks for the feedback!

[2022-05-20 15:11] stephenholleran commented on #174
@kersting don't we just calculate the solidity of the repetitive section i.e. what I have highlighted in the red box.
![image](https://user-images.githubusercontent.com/25622575/169558080-6bbb258c-e22a-4979-be97-32c07c831df9.png)

So we only need to account for a single horizontal member in that little section.

[2022-05-20 15:14] stephenholleran commented on #175
@kersting a `gill_propeller` measures vertical wind speed whereas you can have a horizontal wind speed measured by a `propeller_anemometer`.

[2022-05-20 16:33] kersting commented on #174
@stephenholleran yes but the problem that we're facing now is that a tower may have variable patterns within the section (see the screenshot below). For the screenshot below that would work only if one accounts for the repetitive patterns in the interface with the next section. What if the point of interest was away from the intersection with the other mast section?

This brings an additional chal

[2022-05-20 17:31] heikowestermann commented on #175
my definition: `gill_propeller` is a specific device used also as a `vertical_anemometer`. I think there are not many more, except for 3D sonics which measure the vertical component...

[2022-05-25 16:54] abohara commented on #174
@kersting I don't technically have anything to add. This is a tangential question.  I generally see a limited number of OEM / models in our markets and so once compliance for that model is established each one does not required re-validation. I do wonder if there is truss pattern that the IEC standard hand in mind. The wider world of truss's have a lot more variable to them (and dedicate software

[2022-05-27 19:58] kersting commented on #174
@abohara and @stephenholleran the number of truss patterns is not that many based on the tower diagrams that we gathered for years internally from many countries. I think the reason why many questions around this subject have been popping up is that as we develop this internally, we see the missing parts that we didn't capture on version 1 of the standard. I think we have exhausted the number of p

[2022-05-31 17:57] sdsmdp opened #176 "Support for Long-Term Corrections?"
I received the following question:

I have requested more information on what use case(s) the individual had in mind and how he envisions model support would help. In the meantime, any comments?

[2022-06-01 06:39] abohara commented on #176
@sdsmdp MCP corrections are more of a derived value and dependent on quite a number of factors (such as which long term ref. station, methodology etc.). The task 43 model scope is for actual measurements. So I don't expect it to be on the roadmap anytime soon (my opinion only).

[2022-06-01 09:01] stephenholleran commented on #176
@sdsmdp I agree with @abohara, this model is currently for capturing how measurements are configured to give meaning to the column of data. This model would be an input into a correlation.

This might come out of IEC -15 digital reporting work that is currently ongoing. But that would just be reporting and not cover the setup.

[2022-06-01 12:31] #176 closed

[2022-06-07 18:49] kersting commented on #153
@heikowestermann and @stephenholleran I spent some additional time thinking about this. Also, I contacted Vaisala to understand their table but unless it is necessary to explain the details, I'll focus in my proposal that I believe is universal for any given sensor used in resource assessment.

First, we have sensors such as the relative humidity one that the uncertainty depends on 2 variables (te

[2022-06-08 06:32] heikowestermann commented on #153
@kersting Sounds interesting. Could you elaborate a bit on how the interpolation bin is created and how the interpolation will work for an example case? Just to make sure I follow correctly..

[2022-06-10 10:48] stephenholleran commented on #175
Hi @abohara @kersting @heikowestermann,

My take on it is that a `gill_propeller` is a device that can measure vertical wind speeds, but it can also measure horizontal wind speeds too. I found a paper from 1975 by Gerald C. Gill himself [DEVELOPMENT AND USE OF THE GILL UVW ANEMOMETER](https://deepblue.lib.umich.edu/bitstream/handle/2027.42/42511/10546_2005_Article_BF02153566.pdf?sequence=1) where

[2022-06-10 11:18] stephenholleran commented on #153
@kersting @heikowestermann

I think the second reference bin is needed so good with that. I don't fully understand the 'Interpolation bin'. I think it is that the user can interpolate between rows that have the same Interpolation bin?

What I really don't get, and is confusing me, are the actual values from this relative humidity sensor. If I have a humidity reading of 0% at 20 deg C, according to

[2022-06-10 13:49] stephenholleran commented on #170
Hi @abohara @kersting,

Yeah, I can see how adding `lattice_bracing_member_length_mm` would be useful for these different patterns. We need to distinguish between a horizontal or diagonal bracing member though. This is for the diagonal ones, no need for the horizontal ones. Therefore, I think the name could be `lattice_bracing_member_length_diagonal_mm` in keeping with our other new attribute `lat

[2022-06-13 11:30] stephenholleran opened #177 "[SCHEMA] Account for height/direction offsets programmed into lidars"
Within a lidar program a height or direction offset can be provided which makes adjustments to the data. The height or direction offset typed into the logger may be incorrect. This needs to be captured in the data model.

Continuing on from the discussion:
https://github.com/IEA-Task-43/digital_wra_data_standard/issues/150#issuecomment-1036209820

![image](https://user-images.githubusercontent.com

[2022-06-13 11:39] stephenholleran commented on #150
This is a separate issue which I have created here: #177
We can continue that discussion there.

I also don't think your suggestion of adding `device_datum` to the measurement_point will work as the height offset typed into the lidar can still be incorrect. A 0 m offset might be typed in with the expectation that the lidar will be mounted on the ground but it actually gets installed on a 1 m platf

[2022-06-13 13:04] stephenholleran opened #180 "Improve contributing text"
Feedback from during one of our meeting https://github.com/IEA-Task-43/digital_wra_data_standard/discussions/129#discussioncomment-2785236

1. Update the contributing file to:
   1. Make explicit to merge feature branch into the dev branch.
   1. List off what files to update, the json file, sql, demo, CHANGELOG.

[2022-06-13 16:32] #180 closed

[2022-06-13 16:33] #170 closed

[2022-06-14 07:05] kersting commented on #174
@stephenholleran thanks for the feedback. I'm thinking about this being an issue if one is performing a power performance test and we end up underestimating the solidity of an existing tower. Perhaps one way of dealing with additional members in a tower section is to resuscitate the idea of adding the area of additional members in the section as proposed here https://github.com/IEA-Task-43/digital

[2022-06-14 07:19] NikoSimisiroglou opened #182 "Obukhov length for stability"
Hi, should we add

1. the Obukhov length to the "measurement_type" or will we put it under "other"
2. can we add "m" to "measurement_units_id" the Obukhov length used to calculate stability is in meters

[2022-06-14 07:30] kersting commented on #153
@heikowestermann and @stephenholleran the interpolation bin is used only to group the rows that you can interpolate together. For example, for the case of the table with 3 columns (for wind speed calibration), you can interpolate them all together. If you choose 12 m/s as input, you get 0.05 m/s as output for the uncertainty. For the table with 4 columns (for the humidity sensor), if we get the in

[2022-06-14 07:37] kersting commented on #175
@stephenholleran thanks for all this research! I learned a lot about this topic! I'm happy to close it.

[2022-06-14 11:08] #175 closed

[2022-06-14 11:21] stephenholleran commented on #182
Hi @NikoSimisiroglou,

How is the Obukhov length measured or is it calculated from other measurements within the logger programme?

[2022-06-16 12:04] stephenholleran commented on #174
Hi @kersting,

If it is just power performance testing that is the remaining concern, does the mast section geometry apply to the top mounted anemometers as they are mounted above the mast and have other conditions to meet?

[2022-06-16 12:44] kersting commented on #174
@stephenholleran 61400-12 is a standard for power performance test but used for resource assessment as well. The standard recommends that the disturbance from the boom mounted anemometers is set below 1%. This is related to the solidity- and Ct of the tower. If one is using boom mounted anemometers for shear analysis during a power performance test and the disturbance is higher than 1%, the user w

[2022-06-16 13:01] stephenholleran commented on #174
I suppose that is what I am asking. Are any other anemometers mounted down the side of the mast used for power performance testing? I mistakenly assumed that it is just the top mounted ones.

[2022-06-22 12:17] #147 closed

[2022-06-22 12:19] stephenholleran commented on #100
Implemented in #183

[2022-06-22 12:19] #100 closed

[2022-06-22 12:27] stephenholleran commented on #151
This is now implemented into the DCC as `mounting_length`.

It now needs to be implemented in the WRA Data Model.

[2022-06-23 07:09] NikoSimisiroglou commented on #182
Hi @stephenholleran

It is possible to get both options you describe. You can either set the logger to get the individual parameters needed to calculate the Obukhov length in a post-processing step or you can get the measurement value straight from the logger program itself, similar to how one receives the horizontal wind speed value for example.

Attached is the manual of the Thies 3D US, at page

[2022-06-23 15:23] abohara commented on #182
@NikoSimisiroglou I think adding `Obukhov_length` to `measurement_type` and adding `m` to `units` should work. In this case is the Obukhov length calculated on sampling interval (e.g. 2sec) or the averaging interval ( e.g. 10m) ? Would you know ?

@stephenholleran I think these request where a param is not directly measured but derived ( at the sampling rate ) is common esp. w Solar. I wonder if w

[2022-06-24 12:45] NikoSimisiroglou commented on #182
@abohara Depending on your purpose you can sample at different sampling rates. Generally speaking 1Hz should be good enough for WRA purposes (might be rightfully challenged on this one, but please note the "generally speaking" part). Nevertheless, if one wants to get smaller vertical heat fluxes they could go down to 20 Hz for example and store the values. The output can also be a 10 min average o

[2022-07-01 08:25] kersting commented on #151
@stephenholleran do you need my support to get this into the WRA data model?

[2022-07-05 09:16] stephenholleran commented on #151
@kersting that would be great if you could have a go at this. Thanks.

[2022-07-08 13:40] kersting commented on #151
@stephenholleran should we keep the same naming as for the digital calibration certificate? There we have `mounting_lenght`. IEC references it as just tube so I was thinking about using `tube_mounting_lenght`. Thoughts?

[2022-07-14 09:07] kersting commented on #155
@stephenholleran and @heikowestermann should we continue this discussion? There hasn't been any updates since March. I'm happy to contribute what whatever is necessary.

[2022-07-14 09:13] kersting commented on #153
@stephenholleran we had a conversion on this topic during WindEurope. Should we proceed with the idea? @heikowestermann do you have any questions from your side?

[2022-07-14 14:44] stephenholleran commented on #155
We should include but not sure exactly what to call it. Should it be explicit to an anemometer or a general sensor?

@heikowestermann at the meeting you were talking about a sensor database? Any thoughts on what would this would look like? More importantly, do we (as Task 43) want to maintain a sensor database? I would lean against that but open to the discussion.

[2022-07-14 15:40] kersting commented on #155
@stephenholleran I think that there is no reason for a general sensor table because currently only anemometers have classification and requirements in relation to the body size.

[2022-07-21 09:31] kersting commented on #155
@stephenholleran should we simplify at this moment and just add the sensor body? If we decide to go in the route of adding a sensor table we could update the model.

[2022-07-21 17:26] stephenholleran commented on #155
@kersting yeah, I think that is a good approach. Are you able to make the change in a branch and submit a pull request to the dev branch?

[2022-07-22 09:30] heikowestermann commented on #155
@kersting @stephenholleran I think that the sensor database should in either case be separate from the model. The database could still be added to the repo as a source of trust. I am still planning to tackle this, but can't say when this will be ready. If anyone else volunteers, I won't object and help out

[2022-07-22 09:34] heikowestermann commented on #153
@kersting no questions at the moment. As long as the documentation/examples are there for people to follow, I see no problems.

[2022-07-22 23:34] kersting commented on #153
@heikowestermann thanks for the feedback.

@abohara, @stephenholleran, and @heikowestermann if we move with my proposal, I'd recommend to actually handle all this in the uncertainty table. Also, because we'd be adding a second `reference bin, we may need to rename the `reference_bin` to another name or just add another one called `support_reference_bin`. In addition, we'd need to add another field

[2022-07-22 23:38] kersting commented on #155
@stephenholleran yes, I can make the pull request to the dev branch.

@heikowestermann as far as the sensor table, if it is separated from the model then I can support in the effort but I would appreciate if you could lead that effort.

[2022-08-19 11:50] stephenholleran commented on #155
Thanks @kersting
I'll close this now.

[2022-08-19 11:50] #155 closed

[2022-08-19 14:08] kersting opened #186 "Should lidar be listed in the sensor type enums?"
@abohara, @stephenholleran, and @heikowestermann During an implementation of a ZX lidar in our database, I came across the need to differentiate between a measurement point measured by the short mast attached in the lidar vs the one measured by the lidar. This is an important distinction when it comes to data cleaning. Currently the data model does not allow one to perform that because lidars are

[2022-08-19 16:27] stephenholleran commented on #186
Hi @kersting,

If I understand correctly, the issue is to distinguish between the 2 wind speeds, one from the lidar and the other from the anemometer? I am assuming you have certain cleaning algorithm for cleaning lidar data that is not appropriate for an anemometer.

Is the height that they measure at a way to distinguish between the 2?
Would you have the data model set up that the anemometer has

[2022-08-23 00:03] abohara commented on #186
Hi @kersting

Yes. I support having , `lidar`, (and by similar argument `sodar` ) as a `sensor_type` in addition to being a `measurement_location_type` as well ( we do it internally ). It does make the data tables appear a little more consistent.

[2022-08-25 13:36] stephenholleran commented on #186
OK, we can add it so. The user doesn't have to have a sensor for a lidar if they don't want to.

Will it cause confusion with where the settings of the lidar (or sodar) are put i.e. they should go into 'logger_main_config' or 'sensor'?

[2022-08-25 14:22] stephenholleran commented on #151
@kersting
I see your point. What about `mounting_tube_length_mm`?

In the description we should say something like:

Suggestions welcome?

---

This then begs the question; what is the diameter of the tube the sensor is mounted on? I would use the `upstand_diameter_mm` in this case even though there is another tube with a larger diameter as the one directly mounting the sensor is the important one

[2022-08-25 14:53] stephenholleran commented on #150
Based on this discussion https://github.com/IEA-Task-43/digital_wra_data_standard/discussions/129#discussioncomment-2965898 we have decided to abandon this change.

[2022-08-25 14:53] #150 closed

[2022-08-29 16:29] kersting commented on #151
@stephenholleran I agree with your proposal and observation about the `usptand_diameter_mm`. I'm happy to make the additions for both in the data model and make a pull request. Let me know if I can proceed.

[2022-08-29 17:08] stephenholleran commented on #151
@kersting feel free to go for it.

[2022-08-29 20:36] kersting commented on #151
@stephenholleran a pull request has been made. Please take a look on https://github.com/IEA-Task-43/digital_wra_data_standard/pull/187

[2022-08-29 21:14] kersting commented on #186
@abohara and @stephenholleran ready to be reviewed: https://github.com/IEA-Task-43/digital_wra_data_standard/pull/188

[2022-09-14 11:32] kersting opened #189 "Dead band direction in logger_measurement_config"
Certain loggers have an option to set the direction that a dead band is pointing. This is independent of the offset value, therefore I think we need to add this otherwise we will fail to obtain the dead band orientation typed in the logger that is applied to the data. I would like to propose the addition of this new parameter to the data model.

[2022-09-16 11:47] peremilandersson opened #190 "Boom orientation in logger_measurement_config"
Boom orientation can be specified in some loggers which may be different from the actual boom orientation. The offset in these loggers are then usually in relation to the boom orientation. So in order to correct the total offset applied to the data it is necessary to store this value. Therefore I propose to add a property called `boom_orientation_deg` to the data model under `logger_measurement_co

[2022-09-23 05:44] abohara commented on #190
Thanks @peremilandersson . Are you able to specify the logger you are thinking of ?

@stephenholleran @kersting thoughts? Make sense to me to include it.

[2022-09-23 05:45] abohara commented on #189
Thanks @kersting . Make sense to me. Which logger are you thinking of here ?

[2022-09-23 07:32] kersting commented on #189
@abohara NRG SymphoniePROs.

@stephenholleran any thoughts?

[2022-09-23 07:33] kersting commented on #190
@abohara I agree about this one. This is a field in the NRG SymphoniePRO.

[2022-09-29 13:58] BiancaMorandi commented on #87
@kersting I see that `logger_firmware_version` is an 'Optional' field but 'cannot be null'. Shouldn't be allowed for this field to be Null as it is optional? All other Optional fields in `logger_main_config` can be null.

![image](https://user-images.githubusercontent.com/65398058/193050400-7147ab64-e800-4b34-985b-06ee39c7ab02.png)

cc @stephenholleran

[2022-09-30 10:51] stephenholleran commented on #87
Yeah, it looks like it is inconsistent with the rest of the variables in logger_main_config so I am ok for it to be added.

[2022-09-30 17:19] stephenholleran commented on #190
@abohara I think we need to consider something along these lines alright. We came across it recently too.

@peremilandersson thanks for raising this issue.
Do you think this single new attribute will solve the issue? I remember seeing a graphic (I think from NRG software either cloud or desktop) with a few other variables. I have grabbed the graphic below from https://www.nrgsystems.com/assets/res

[2022-09-30 17:21] stephenholleran commented on #189
This should be considered in connection with #190

[2022-10-03 08:25] peremilandersson commented on #190
@stephenholleran thanks for the feedback.

`vane_dead_band_orientation` in #189 will cover "Vane Mounting Angle" in my opinion. Open to hear other thoughts

[2022-10-03 12:46] kersting commented on #189
@stephenholleran I agree both go hand in hand. Both issues are related to the NRG SymphoniePRO logger. I propose `dead_band_orientation_deg`. @abohara and @stephenholleran what you think?

[2022-10-06 18:15] stephenholleran commented on #190
Hi @kersting @peremilandersson,
cc @abohara

Just to recap the issue and bringing issue #189 into it.

In the NRG SymphoniePRO logger a 'Boom Bearing' and 'Vane Mounting Angle' can be programmed into the logger which will contribute to a 'Total Direction Offset' which is applied to the measured values from the wind vane. Equation is:

Note that the 'Vane Mounting Angle' is respect to the boom and

[2022-10-06 18:16] #189 closed

[2022-10-06 22:07] kersting commented on #190
@stephenholleran thanks for your detailed answer. I had seen the total direction offset and the reason why I avoided, was to not go in the route of using calculated variables. However, for parsing purposes, I think that one could use only the total direction offset field as the logger offset and call for the day. Therefore, I agree closing #189 but perhaps keeping `logger_stated_boom_orientation_d

[2022-10-18 17:14] kersting commented on #153
@heikowestermann, @abohara, and @stephenholleran a lot of time has passed since our latest correspondence. After a lot of thinking and struggles for implementing this internally, I'd like to present a proposal that I believe is much better than the last one that I provided.

Currently for the uncertainty, we have `reference_bin`, `reference_unit`z, and `combined uncertainty`.

I propose the follow

[2022-10-19 07:29] heikowestermann commented on #153
@kersting
I like the new proposal. I think it is easier to explain and document. I think it would be best if the table would stand on its own and would not have fields that could overwrite the table itself. This could cause confusion even if it makes sense. Do you think that defining the first and last reference_bin and corresponding uncertainties and interpolating between them could be a third op

[2022-10-19 19:42] kersting commented on #153
@heikowestermann thanks for the feedback. I think that your third option would be very similar to option 2 but we can discuss this in a meeting. Tomorrow we're schedule for the value proposition. If we can use some of the time to discuss this, it would be great.

@abohara can you attend the meeting from October 20th?

[2022-10-20 10:02] heikowestermann commented on #153
@kersting I won't be able to make todays call, but I am open for next week or the week after that.

[2022-10-20 17:27] stephenholleran commented on #153
@heikowestermann @kersting @abohara
We'll schedule this in to discuss on the 3rd Nov call. Cheers!

Looks like a good solution.

[2022-10-30 21:57] kersting opened #192 "Shouldn't we have date_from and date_to for the mast_properties table?"
Hello,

In case of a mast collapse that is replaced with the exact same mast but a different serial number, it seems to me that we should have `date_from` and `date_to` in that table `mast_properties`. What are your thoughts? @stephenholleran and @abohara thoughts?

[2022-11-02 18:56] dancasey-ie opened #193 "Issue with SQL when applying 'is optional' and 'cannot be null' from schema"
In the JSON schema docs for Logger Measurement Configurations, the 'measurement_units_id' field 'is optional' and 'cannot be null', but if the NOT NULL constraint is applied to the field in the DB, as is done in '/tools/iea43_wra_data_model_postgresql.sql:395' and the 'measurement_units_id' has not been provided, it is not possible to save the record.

See possible solutions below:
1. Update JSON

[2022-11-03 15:03] stephenholleran commented on #190
From meeting https://github.com/IEA-Task-43/digital_wra_data_standard/discussions/129#discussioncomment-3926831 on the 20-Oct-2022 it was decided to include `logger_stated_boom_orientation_deg` in `logger_measurement_config`.

[2022-11-03 17:53] stephenholleran commented on #153
Hi @kersting,

Based on our discussion https://github.com/IEA-Task-43/digital_wra_data_standard/discussions/129#discussioncomment-4049868 on 3-Nov-2022 it was decided that this was a good proposal and that you can go ahead and implement.

We didn't think the reference_slope and reference_offset was great, keeping the table is simple and easy to understand. Similar for the interpolation_bin option

[2022-11-11 23:07] abohara commented on #193
Thanks @dancasey-ie . I support 2 or 3, since the JSON schema represents the basic schema and SQL is an attempt to duplicate it.

[2022-11-11 23:10] abohara commented on #192
@kersting `Mast_properties` does seem like the natural place to handle the dates for this scenarios.

[2022-11-13 20:32] kersting commented on #192
@abohara thanks for the feedback. @stephenholleran what do you think?

[2022-11-13 20:34] kersting commented on #193
@dancasey-ie I support also 2 or 3.

[2022-11-16 22:38] kersting commented on #153
@stephenholleran, @heikowestermann, and @abohara thanks for the feedback. How should I handle the compatibility? Should I keep the current binning schema and then add the new one or should I delete the old one and go only with the new one?

[2022-11-17 19:53] kersting commented on #174
@stephenholleran yes, shear is used in the latest IEC standard and it is calculated side-mounted anemometers if a remote sensing device is not available.

[2022-11-23 11:22] stephenholleran commented on #186
I took this on and GK reviewed.

[2022-11-23 11:22] #186 closed

[2022-11-23 11:25] #190 closed

[2022-11-23 11:29] #87 closed

[2022-11-23 12:29] stephenholleran commented on #192
Hi @kersting,

I think the question to ask is if a mast fell down and it was reinstated, is it the same mast and therefore the same measurement location?

As we don't have `date_from` or `date_to` we must have thought at the time of creation that it would be a separate measurement location. It would be very rare and difficult to reinstate a mast exactly as it was previously. In theory it can be th

[2022-11-23 14:27] stephenholleran commented on #153
Looking at it I'd say this is going to be a breaking change. See screenshot below of the current schema where there are 3 properties, `reference_bin`, `reference_unit` and `combined_uncertainty`.

![image](https://user-images.githubusercontent.com/25622575/203549295-83c1c235-dbf1-4018-b261-1c4dc2a748bd.png)

We need to add `primary_reference_lower_bin`, `primary_reference_upper_bin`, `secondary_re

[2022-11-23 14:29] stephenholleran commented on #192
Yes, adding it will give the user options so good to add.

I'll do it right now as I am already thinking about it and I am able to spend a bit of time on Task 43.

[2022-11-23 16:33] stephenholleran commented on #193
Hi All,

I don't think option 2 or 3 are great as option 2 needs some processing on the result to be compliant with the data model. For option 3 the unit '-' is to represent a dimensionless unit and not that the user doesn't know.

Reading option 3 prompted the thought that we don't allow the user to put in something that they don't know. That is, if they don't know the measurement unit, the only

[2022-11-23 19:06] kersting commented on #193
@stephenholleran excellent point! The problem of not having the units is expected to happen. I think that option number 4 makes sense for the SQL.

[2022-11-24 11:57] dancasey-ie commented on #193
After thinking about this more, my proposed options 2 and 3 are not good ideas, and though I agree with @stephenholleran  that a default value of 'Unknown' is better than '-', I think a default value for any optional property is problematic and I would like to  make a stronger case for option 1 - allow 'null' values for optional properties with enum options

a. All other optional properties allow

[2022-11-29 00:21] abohara commented on #193
@dancasey-ie - Looking at your original comment, you indicated ```_In the JSON schema docs for Logger Measurement Configurations, the 'measurement_units_id' field 'is optional' and 'cannot be null_``` .Looking at the [JSON schema](https://github.com/IEA-Task-43/digital_wra_data_standard/blob/6ef361620d4d881ce51ea3d2c4f706c77106590e/schema/iea43_wra_data_model.schema.json#L963) the `measurement_uni

[2022-11-29 18:46] abohara opened #198 "Deadband compensation"
@stephenholleran @kersting Should we have a field that indicates whether deadband compensation was applied to the wind vane signal ?
Some loggers (later versions of SDR and SPRO) provide it but not sure all (Campbell, Amonnitt etc. ) do. Would you consider this important enough to be included in the model - likely as a logger property ?

[2022-11-30 07:48] heikowestermann commented on #198
@abohara Out of curiosity: How does a compensation look like? Is it an interval which gets filtered?

[2022-11-30 22:32] abohara commented on #198
@heikowestermann  Here are two good resources

- [ Compensation in logger ](https://www.nrgsystems.com/support/product-support/knowledge-base/my-200p-does-not-show-readings-around-zero-why-is-this) ,
- [ Circuitry ](https://www.nrgsystems.com/assets/resources/anVaneIn.pdf)